{% if user is defined %}
<div>L'utilisateur : {{ user.FirstName ~ user.LastName }} a géneré la <span> paiement pour le véhicule (N° Vin Chassis) : {{ data.NumeroVinChassis }} le {{ date('d/m/Y') }}</span></div>
{% else %}
<div>Paiement pour le véhicule (N° Vin Chassis) : {{ data.NumeroVinChassis }} créé le {{ date('d/m/Y') }}</span></div>
{% endif %}
