{% extends 'admin/base.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link href="{{ asset('backend/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block body %}
    <!-- <body data-layout="horizontal" data-topbar="dark"> -->

    <!-- Begin page -->
    <div id="layout-wrapper">

        {{ include('admin/_partials/header.html.twig') }}

        <!-- ========== Left Sidebar Start ========== -->
        {{ include('admin/_partials/left-sidebar.html.twig')}}
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0 font-size-18">PAIEMENTS</h4>
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="{{path('admin_payment_index')}}">Accueil</a></li>
                                        <li class="breadcrumb-item active">Liste des paiements</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body border-bottom">
                                    <div class="d-flex align-items-center">
                                        <h5 class="mb-0 card-title flex-grow-1"></h5>
                                        <div class="flex-shrink-0">
                                            <a href="{{ path('admin_payment_new') }}" class="btn btn-primary btn-sm waves-effect waves-light"><span class="fa fa-plus-circle fa-1x"></span> Télécharger</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body border-bottom">
                                    <div class="row g-3">
                                        <div class="col-xxl-2 col-lg-6">
                                            <input type="search" class="form-control" id="reference" placeholder="Référence">
                                        </div>
                                        <div class="col-xxl-2 col-lg-6">
                                            <input type="search" class="form-control" id="code_payment_operateur" placeholder="Code de paiement">
                                        </div>
                                        <div class="col-xxl-2 col-lg-6">
                                            <input type="search" class="form-control" id="receipt_number" placeholder="Numéro de reçu">
                                        </div>
                                        <div class="col-xxl-2 col-lg-6">
                                            <input type="search" class="form-control" id="operateur" placeholder="Opérateur">
                                        </div>
                                        <div class="col-xxl-2 col-lg-6">
                                            <input type="search" class="form-control" id="status" placeholder="Statut">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        {{ include('admin/payment/_payment_datatable.html.twig') }}
                                    </div>
                                    <!--end row-->
                                </div>
                            </div><!--end card-->
                        </div><!--end col-->
                    </div><!--end row-->
                </div> <!-- container-fluid -->
            </div><!-- End Page-content -->
            {{ include('admin/_partials/footer.html.twig') }}
        </div>
        <!-- end main content-->
    </div>
    <!-- END layout-wrapper -->

    <!-- Right Sidebar -->

    <!-- /Right-bar -->

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="{{ asset('backend/libs/datatables.net/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('backend/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js') }}"></script>

<script type="text/javascript">
    jQuery(document).ready(function ($) {

        var datatable = initDatatable();

        $("#numero_carte_grise,#numero_recepisse,#numero_chassis").change(function (e) {
                datatable.draw();
        });

        function initDatatable(){
            /* DATATABLE INIT */
            var dt = $('#datatable').DataTable( {
                "responsive": true,
                "language": {
                    url: '//cdn.datatables.net/plug-ins/1.10.16/i18n/French.json',
                    processing: "<img height='32' width='32' src='{{ asset("assets/images/preloaders/5.svg") }}' />",
                    sLoadingRecords :"<img height='32' width='32' src='{{ asset("assets/images/preloaders/5.svg") }} />"
                },
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": '{{ path('admin_payment_dt') }}',
                    "data": function (d) {
                        d.reference = $("#reference").val();
                        d.montant = $("#montant").val();
                        d.status = $("#status").val();
                        d.code_payment_operateur = $("#code_payment_operateur").val();
                        d.receipt_number = $("#receipt_number").val();
                    }
                },
                "columns": [
                    {
                        "class":   "details-control",
                        "orderable": false,
                        "data":      "id",
                        "defaultContent": ""
                    },
                    { "data": "reference" },
                    { "data": "montant" },
                    { "data": "status" },
                    { "data": "operateur" },
                    { "data": "code_payment_operateur" },
                    { "data": "receipt_number" },
                    { "data": "" }
                ],
                "order": [[1, 'asc']]
            } );
            return dt;
        }
    });
</script>
{% endblock %}
