{% extends 'admin/base.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
{% endblock %}


{% block body %}
    <!-- <body data-layout="horizontal" data-topbar="dark"> -->

    <!-- Begin page -->
    <div id="layout-wrapper">


        {{ include('admin/_partials/header.html.twig') }}


        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body border-bottom">
                                    <div class="d-flex justify-content-end">
                                        <div class="flex-shrink-0">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Fiche paiement : &nbsp;&nbsp;<strong class="badge bg-gradient bg-info">{{ payment.id }}</strong></h4>
                                    <table class="table table-bordered px-5 w-75">
                                        <tbody>
                                        <tr>
                                            <th style="width: 30%">Référence</th>
                                            <td>{{ payment.reference }}</td>
                                        </tr>
                                        <tr>
                                            <th>Numéro reçu</th>
                                            <td><strong class="badge bg-gradient bg-info">{{ payment.ReceiptNumber }}</strong></td>
                                        </tr>
                                        <tr>
                                            <th style="width: 30%">Code Paiement</th>
                                            <td>{{ payment.CodePaymentOperateur }}</td>
                                        </tr>
                                        <tr>
                                            <th style="width: 30%">Montant</th>
                                            <td>{{ payment.Montant }}</td>
                                        </tr>


                                        <tr>
                                            <th>Opérateur</th>
                                            <td>{{ payment.Operateur }}</td>
                                        </tr>
                                        <tr>
                                            <th>Date paiement</th>
                                            <td>{{ payment.CreatedAt|date('d/m/Y') }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- container-fluid -->
            </div><!-- End Page-content -->

            {{ include('admin/_partials/footer.html.twig') }}
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    <!-- Right Sidebar -->

    <!-- /Right-bar -->

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

{% endblock %}

{% block javascript %}
{{ parent() }}
  <script>
      $('document').ready(function() {

      });

  </script>
{% endblock %}


