<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" key="t-menu">Menu</li>
                <li>
                    <a href="{{ path('admin_index') }}" class="waves-effect" aria-expanded="false">
                        <i class="bx bx-chat"></i>
                        <span key="t-chat">Tableau de bord</span>
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-file-blank"></i>
                        <span key="t-dashboards">MENU</span>
                    </a>
                    <ul class="sub-sub-menu mm-collapse" aria-expanded="false">
                        <li><a href="{{ path('admin_demande_index') }}" key="t-u">Demandes</a></li>
                        <li><a href="{{ path('admin_payment_index') }}" key="t-u">Paiements</a></li>
                        <li><a href="{{ path('admin_macaron_index') }}" key="t-u">Macarons</a></li>
                        <li><a href="{{ path('admin_district_index') }}" key="t-u">Espace district</a></li>
                    </ul>
                </li>
                <li class="menu-title">Paramètres</li>
                <li>
                    <ul class="sub-sub-menu mm-collapse" aria-expanded="false">
                        <li><a href="#" key="t-u">Utilisateurs</a></li>
                        <li><a href="#" key="t-t">Roles</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
