<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}transecureafrica{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Administration" name="description" />
    <meta content="transecureafrica" name="author" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
    {% block stylesheet %}
        <!-- App favicon -->
        <!-- Bootstrap Css -->
        <link href="{{ asset('backend/css/bootstrap.min.css') }}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{{ asset('backend/css/icons.min.css') }}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{{ asset('backend/css/app.min.css') }}" id="app-style" rel="stylesheet" type="text/css" />
    {% endblock %}
</head>

<body data-sidebar="dark" data-layout-mode="light" class="sidebar-enable vertical-collpsed">

{% block body %}
{% endblock %}


{% block javascript %}
<script src="{{ asset('backend/libs/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('backend/libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('backend/libs/metismenu/metisMenu.min.js') }}"></script>
<script src="{{ asset('backend/libs/simplebar/simplebar.min.js') }}"></script>
<script src="{{ asset('backend/libs/node-waves/waves.min.js') }}"></script>
<script src="{{ asset('backend/js/app.js') }}"></script>
{% endblock %}

</body>

</html>
