<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}transecureafrica{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Administration" name="description" />
    <meta content="transecureafrica" name="author" />
    {% if app.environment != 'dev' %}
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    {% endif %}
    {% block stylesheet %}
        <link href="{{ asset('backend/css/bootstrap.min.css') }}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <link href="{{ asset('backend/css/icons.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('backend/css/app.min.css') }}" id="app-style" rel="stylesheet" type="text/css" />
        <style>
            .topnav .navbar-nav .nav-link:focus, .topnav .navbar-nav .nav-link:hover{
                color:  #028455 !important;
                border-bottom: 2px solid #028455 !important;
            }
            .topnav .navbar-nav .nav-item .nav-link.active {
                color: #f08207 !important;
                border-bottom: 2px solid #f08207 !important;
            }
            body[data-topbar=dark] #page-topbar {
                background-color: #028455 !important;
            }
            body[data-sidebar=dark] .navbar-brand-box {
                background: #028455 !important;
            }
            .btn-success {
                color: #fff;
                background-color: #028455 !important;
                border-color: #028455 !important;
            }
            .btn-warning {
                color: #fff;
                background-color: #f08207 !important;
                border-color: #f08207 !important;
            }
            .verti-timeline .event-list {
                position: relative;
                padding: 0 0 7px 19px;
            }
        </style>
    {% endblock %}
</head>

<body data-topbar="dark" data-sidebar="dark" data-layout="horizontal" data-layout-mode="light" class="sidebar-enable vertical-collpsed">

{% block body %}
{% endblock %}

{% block javascript %}
<script src="{{ asset('backend/libs/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('backend/libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('backend/libs/metismenu/metisMenu.min.js') }}"></script>
<script src="{{ asset('backend/libs/simplebar/simplebar.min.js') }}"></script>
{#<script src="{{ asset('backend/libs/node-waves/waves.min.js') }}"></script>#}
<script src="{{ asset('backend/js/app.js') }}"></script>
{% endblock %}

</body>

</html>
