<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" key="t-menu">Menu</li>
                <li>
                    <a href="{{ path('admin_index') }}" class="waves-effect" aria-expanded="false">
                        <i class="bx bx-chat"></i>
                        <span key="t-chat">Tableau de bord</span>
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-calendar"></i>
                        <span>Le syndicat</span>
                    </a>
                    <ul class="sub-menu mm-collapse mm-show" aria-expanded="false">
                        <li><a href="{{ path('admin_member_new_subscription') }}" key="t1">Nouvelles inscriptions</a></li>
                        <li><a href="{{ path('admin_member_index') }}" key="t2">Membres</a></li>
                        <li><a href="{{ path('admin_cards_list') }}" key="t3">Cartes</a></li>
                    </ul>
                </li>
                <li class="menu-title">Paramètres</li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-home-circle"></i>
                        <span key="t-dashboards">Securité</span>
                    </a>
                    <ul class="sub-sub-menu mm-collapse" aria-expanded="false">
                        <li><a href="{{ path('admin_index') }}" key="t-u">Utilisateurs</a></li>
                        <li><a href="{{ path('admin_index') }}" key="t-t">Roles</a></li>
                        <li><a href="{{ path('admin_index') }}" key="t-a">API</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-home-circle"></i>
                        <span key="t-dashboards">Activités</span>
                    </a>
                    <ul class="sub-sub-menu mm-collapse" aria-expanded="false">
                        <li><a href="{{ path('admin_index') }}" key="t-u">Flash infos</a></li>
                        <li><a href="{{ path('admin_index') }}" key="t-u">Activités en images</a></li>
                        <li><a href="{{ path('admin_index') }}" key="t-u">Activités en vidéos</a></li>
                        <li><a href="{{ path('admin_index') }}" key="t-t">Galerie</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
