{% extends 'frontend/base.html.twig' %}

{% block title %}Code d'accès{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <style>
        body #__next{
            background-color: #f2f3f2
        }
        .form-signin {
            max-width: 500px;
            padding: 1rem;
            height: 50vh;
        }
        input.form-control  {
            text-align: center;
        }
        input.form-control:focus {
            color: var(--bs-body-color);
            background-color: var(--bs-body-bg);
            border-color: #006a53;
            outline: 0;
            box-shadow: 4px 3px 0 0rem #006a53;
        }
        .btn-check:checked+.btn,
        .btn.active, .btn.show,
        .btn:first-child:active,
        :not(.btn-check)+.btn:active,
        button.btn:hover {
            color: #ffffff;;
            background-color: #e16a00;
            border: 1px solid #e16a00;
        }
        button.btn {
            font-size: 16px;
            font-weight: 600;
            padding: 14px 16px 13px;
            color: #ffffff;
            border: 1px solid #ff7b00;
            border-radius: 3px;
            background-color: #ff7b00;
        }
        .liste-etapes {
            color: var(--text-color);
            font-family: var(--font-text);
            font-size: .875rem;
            font-weight: 400;
            line-height: 1.25;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            margin-bottom: 32px;
        }
        .etape {
            background-color: transparent;
            border-radius: 3px;
            padding: 56px 16px 0;
            position: relative;
            width: 176px;
        }
        .etape .icon, .etape .info {
            text-align: center;
            z-index: 2;
        }
        .etape .icon {
            top: 16px;
            left: calc(50% - 16px);
            width: 32px;
            height: 32px;
            border: 2px solid #006a53;
            border-radius: 50%;
            color: #fff;
            font-size: 1rem;
            font-weight: 700;
            line-height: 28px;
        }
        .etape .icon, .etape .line {
            position: absolute;
            background-color: #006a53;
        }
        .etape.active .info {
            color: #444;
            font-weight: 700;
        }
        .etape .info {
            color: #b2b2b2;
            font-size: .875rem;
            font-weight: 600;
            line-height: 20px;
        }
        .etape .icon, .etape .info {
            text-align: center;
            z-index: 2;
        }
        .etape.disabled .line {
            background-color: #e0e0e0;
        }
        .etape .icon, .etape .line {
            position: absolute;
            background-color: #006a53;
        }
        .etape .line {
            top: 31px;
            left: -60px;
            width: 120px;
            height: 2px;
            border-radius: 4px;
            z-index: 1;
        }
        .etape.disabled .icon {
            background-color: transparent;
            color: #b2b2b2;
            border-color: #e0e0e0;
        }
        .etape .icon, .etape .info {
            text-align: center;
            z-index: 2;
        }
        .etape .info {
            color: #b2b2b2;
            font-size: .875rem;
            font-weight: 600;
            line-height: 20px;
        }
        .etape.active .info {
            color: #444;
            font-weight: 700;
        }

        .input, .select select {
            width: 100%;
            height: 48px;
            background-color: #f9f9f9;
            border-radius: 3px;
            border: 1px solid #b2b2b2;
            box-shadow: none;
        }

        .form-label{
            color: var(--text-color);
            font-family: var(--font-text);
            box-sizing: border-box;
            display: block;
            font-size: 1rem;
            font-weight: 600;
            margin-bottom: .5em;
            line-height: 1.375rem;
        }
        .input {
            font-size: .875rem;
            line-height: 1.25rem;
            padding: 13px 16px;
        }
    </style>
{% endblock %}

{% block body %}

    <div role="main" class="container mt-5 mb-5">
            <div class="liste-etapes is-clearfix">
                <div class="etape disabled"><!---->
                    <div class="icon">1</div> <!---->
                    <div class="info">Informations vehicule</div>
                </div>
                <div class="etape active current">
                    <div class="line"></div>
                    <div class="icon">2</div>
                    <div class="info">Récapitulatif</div>
                </div>
                <div class="etape disabled">
                    <div class="line"></div>
                    <div class="icon">3</div> <!---->
                    <div class="info">Paiement</div>
                </div>
                <div class="etape disabled">
                    <div class="line"></div>
                    <div class="icon">4</div> <!---->
                    <div class="info">Reçu de paiement</div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body m-auto w-75">
                            <h4 class="card-title mb-4">Récapitulatif de vos informations</h4>
                            <table style="width: 80%">
                                {% if demande.NumeroImmatriculation %}
                                <tr style="padding: 10px">
                                    <td style="padding: 10px 10px">Numéro immatriculation</td>
                                    <td style="font-weight: bolder; text-align: center; background-color: #deffe7; ">{{ demande.NumeroImmatriculation }}</td>
                                </tr>
                                {% endif %}
                                {% if demande.NumeroCarteGrise %}
                                <tr style="padding: 10px">
                                    <td style="padding: 10px 10px">Numéro carte grise</td>
                                    <td style="font-weight: bolder; text-align: center; background-color: #deffe7; ">{{ demande.NumeroCarteGrise }}</td>
                                </tr>
                                {% endif %}
                                {% if demande.DateDePremiereMiseEnCirulation %}
                                <tr style="padding: 10px">
                                    <td style="padding: 10px 10px">Date de première mise en cirulation</td>
                                    <td style="font-weight: bolder; text-align: center; background-color: #deffe7; ">{{ demande.DateDePremiereMiseEnCirulation ? demande.DateDePremiereMiseEnCirulation|date('d-m-Y')  : '' }}</td>
                                </tr>
                                {% endif %}
                                {% if demande.DateDEdition %}
                                <tr style="padding: 10px">
                                    <td style="padding: 10px 10px">Date d'édition</td>
                                    <td style="font-weight: bolder; text-align: center; background-color: #deffe7; ">{{ demande.DateDEdition ? demande.DateDEdition|date('d-m-Y') : '' }}</td>
                                </tr>
                                {% endif %}
                                {% if demande.IdentiteProprietaire %}
                                <tr style="padding: 10px">
                                    <td style="padding: 10px 10px">Identité propriétaire</td>
                                    <td style="font-weight: bolder; text-align: center; background-color: #deffe7; ">{{ demande.IdentiteProprietaire }}</td>
                                </tr>
                                {% endif %}
                                {% if demande.IdentiteProprietairePiece %}
                                <tr style="padding: 10px">
                                    <td style="padding: 10px 10px">Identité propriétaire pièce</td>
                                    <td style="font-weight: bolder; text-align: center; background-color: #deffe7; ">{{ demande.IdentiteProprietairePiece }}</td>
                                </tr>
                                {% endif %}
                                {% if demande.MarqueDuVehicule %}
                                <tr style="padding: 10px">
                                    <td style="padding: 10px 10px">Marque du véhicule</td>
                                    <td style="font-weight: bolder; text-align: center; background-color: #deffe7; ">{{ demande.MarqueDuVehicule }}</td>
                                </tr>
                                {% endif %}
                                {% if demande.GenreVehicule %}
                                <tr style="padding: 10px">
                                    <td style="padding: 10px 10px">Genre vehicule</td>
                                    <td style="font-weight: bolder; text-align: center; background-color: #deffe7; ">{{ demande.GenreVehicule }}</td>
                                </tr>
                                {% endif %}
                                {% if demande.TypeCommercial %}
                                <tr style="padding: 10px">
                                    <td style="padding: 10px 10px">Type commercial</td>
                                    <td style="font-weight: bolder; text-align: center; background-color: #deffe7; ">{{ demande.TypeCommercial }}</td>
                                </tr>
                                {% endif %}
                                {% if demande.CouleurVehicule %}
                                <tr style="padding: 10px">
                                    <td style="padding: 10px 10px">Couleur véhicule</td>
                                    <td style="font-weight: bolder; text-align: center; background-color: #deffe7; ">{{ demande.CouleurVehicule }}</td>
                                </tr>
                                {% endif %}
                                {% if demande.CarroserieVehicule %}
                                <tr style="padding: 10px">
                                    <td style="padding: 10px 10px">Carroserie véhicule</td>
                                    <td style="font-weight: bolder; text-align: center; background-color: #deffe7; ">{{ demande.CarroserieVehicule }}</td>
                                </tr>
                                {% endif %}
                                {% if demande.EnergieVehicule %}
                                <tr style="padding: 10px">
                                    <td style="padding: 10px 10px">Energie véhicule</td>
                                    <td style="font-weight: bolder; text-align: center; background-color: #deffe7; ">{{ demande.EnergieVehicule }}</td>
                                </tr>
                                {% endif %}
                                {% if demande.PlacesAssises %}
                                <tr style="padding: 10px">
                                    <td style="padding: 10px 10px">Places assises</td>
                                    <td style="font-weight: bolder; text-align: center; background-color: #deffe7; ">{{ demande.PlacesAssises }} P.T.A.C (Kg)</td>
                                </tr>
                                {% endif %}
                                {% if demande.UsageVehicule %}
                                <tr style="padding: 10px">
                                    <td style="padding: 10px 10px">Usage véhicule</td>
                                    <td style="font-weight: bolder; text-align: center; background-color: #deffe7; ">{{ demande.UsageVehicule }}</td>
                                </tr>
                                {% endif %}
                                {% if demande.PuissanceFiscale %}
                                <tr style="padding: 10px">
                                    <td style="padding: 10px 10px">Puissance fiscale</td>
                                    <td style="font-weight: bolder; text-align: center; background-color: #deffe7; ">{{ demande.PuissanceFiscale }} P.V (Kg)</td>
                                </tr>
                                {% endif %}
                                {% if demande.NombreDEssieux %}
                                <tr style="padding: 10px">
                                    <td style="padding: 10px 10px">Nombre d'essieux</td>
                                    <td style="font-weight: bolder; text-align: center; background-color: #deffe7; ">{{ demande.NombreDEssieux }}</td>
                                </tr>
                                {% endif %}
                                {% if demande.Cylindree %}
                                <tr style="padding: 10px">
                                    <td style="padding: 10px 10px">Cylindre (CC)</td>
                                    <td style="font-weight: bolder; text-align: center; background-color: #deffe7; ">{{ demande.Cylindree }} C.U (Kg)</td>
                                </tr>
                                {% endif %}
                                {% if demande.NumeroVinChassis %}
                                <tr style="padding: 10px">
                                    <td style="padding: 10px 10px">Numéro vin/chassis</td>
                                    <td style="font-weight: bolder; text-align: center; background-color: #deffe7; ">{{ demande.NumeroVinChassis }}</td>
                                </tr>
                                {% endif %}
                                {% if demande.SocieteDeCredit %}
                                <tr style="padding: 10px 10px">
                                    <td style="padding: 10px 10px">Société de crédit</td>
                                    <td style="font-weight: bolder; text-align: center; background-color: #deffe7; ">{{ demande.SocieteDeCredit }}</td>
                                </tr>
                                {% endif %}
                                {% if demande.TypeTechnique %}
                                <tr style="padding: 10px 10px">
                                    <td style="padding: 10px 10px">Type technique</td>
                                    <td style="font-weight: bolder; text-align: center; background-color: #deffe7; ">{{ demande.TypeTechnique }}</td>
                                </tr>
                                {% endif %}
                                {% if demande.NumeroDImmatriculationPrecedent %}
                                <tr style="padding: 10px">
                                    <td style="padding: 10px 10px">Numéro d'immatriculation précedent</td>
                                    <td style="font-weight: bolder; text-align: center; background-color: #deffe7; ">{{ demande.NumeroDImmatriculationPrecedent }}</td>
                                </tr>
                                {% endif %}
                            </table>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between mb-4">
                            <div class="mx-3">
                                <a style="border-radius:10px; border: 0; cursor: pointer;padding:5px 5px 5px 5px; background-color: orange; color: white; font-size: 16px" href="{{ path('demande_edit', {id: demande.Id}) }}" class="btn col-12 w-100">Modifier</a>
                            </div>
                            <div class="mx-3">
                                <a style="border-radius:10px; border: 0; cursor: pointer;padding:5px 5px 5px 5px; background-color: orange; color: white; font-size: 16px" href="{{ path('demande_paiement', {id: demande.Id}) }}" type="button" class="btn col-12 w-100">Passer au paiement</a>
                            </div>
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->
            </div>
    </div>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script>
    $(document).ready(function(){
    })
</script>
{% endblock %}
