{% if user is defined %}
<div>L'utilisateur : {{ user.FirstName ~ user.LastName }} a supprimé le <span> macaron pour le véhicule (N° Vin Chassis) : {{ data.NumeroVinChassis }} le {{ date('d/m/Y') }}</span></div>
{% else %}
<div>Suppression du macaron pour le véhicule (N° Vin Chassis) : {{ data.NumeroVinChassis }} fait le {{ date('d/m/Y') }}</span></div>
{% endif %}
