
<footer class="footer_footer__dNu7X footer">
    <section class="footer_footer-nav__y4MDn">
        <div class="footer_footer-inner__QKy4f inner">
            <div class="footer_footer-row__oAJsW">
                <div class="footer_footer-col__VyebP">
                    <div class="footer_footer-titre__4jHDy">SFP &amp; vous</div>
                    <ul>
                        <li><a tabindex="0" href="/contact/" rel="follow">Nous contacter</a></li>
                        <li><a tabindex="0" href="{{ path('home') }}" target="_self" rel="nofollow">Demande</a></li>
                        <li><a tabindex="0" href="{{ path('home') }}" target="_blank" rel="nofollow">FAQ</a></li>
                        <li><a tabindex="0" href="/reclamations/" rel="follow">Réclamations</a></li>
                    </ul>
                </div>
                <div class="footer_footer-col__VyebP">
                    <div class="footer_footer-titre__4jHDy">Nos services</div>
                    <ul>
                        <li><a tabindex="0" href="/assurance-auto/" rel="follow">Assurance auto</a></li>
                        <li><a tabindex="0" href="/assurance-habitation/" rel="follow">Assurance Habitation</a></li>
                        <li><a tabindex="0" href="/mutuelle-sante/" rel="follow">Mutuelle Santé</a></li>
                    </ul>
                </div>
                <div class="footer_footer-col__VyebP">
                    <div class="footer_footer-titre__4jHDy">Nos services</div>
                    <ul>
                        <li><a tabindex="0" href="/assurance/conseils/espace-client-vos-services-en-ligne/" target="_blank" rel="follow">Espace client</a>
                        </li>
                        <li><a tabindex="0" href="/declarer-un-sinistre/" rel="follow">Déclarer un sinistre </a>
                        </li>
                        <li><a tabindex="0" href="/simulateurs-particuliers/" rel="follow">Assurances : tous nos
                                chauffeurs tarifs en ligne</a></li>
                        <li><a tabindex="0" href="/assurance/conseils/" rel="follow">Tous nos conseils</a></li>
                    </ul>
                </div>
                <div class="footer_footer-col__VyebP">
                    <div class="footer_footer-titre__4jHDy">En complément</div>
                    <ul>
                        <li><a tabindex="0" href="/assurance-auto/devis/" rel="follow">Devis assurance auto</a></li>
                        <li><a tabindex="0" href="/assurance-obseques/simulateur/" rel="follow">Simulateur assurance
                                obsèques</a>
                        </li>
                        <li><a tabindex="0" href="/devis-mrh/" rel="follow">Devis assurance habitation</a></li>
                        <li><a tabindex="0" href="/mutuelle-sante/devis/" rel="follow">Devis mutuelle santé</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="footer_footer-app-social__C4Omu">
        <div class="footer_footer-inner__QKy4f inner">
            <div class="footer_footer-app__pq6Js">
                <div class="footer_footer-titre__4jHDy footer_footer-social-titre__AX6Qf">L&#x27;application mobile
                    SFP Macaron
                </div>
                <ul>
                    <li>
                        <a tabindex="0" href="{{ path('home') }}"
                           target="_blank" rel="noreferrer">
                            <img
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    alt="App Store"
                                    width="151.8" height="48" data-frz-src="/images/footer/stores.svg#app-store"
                                    class="lazyfrz"/>
                        </a>
                    </li>
                    <li><a tabindex="0"
                           href="{{ path('home') }}"
                           target="_blank" rel="noreferrer"><img
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    alt="Google Play"
                                    width="162" height="48" data-frz-src="/images/footer/stores.svg#google-play"
                                    class="lazyfrz"/></a>
                    </li>
                </ul>
            </div>
            <div class="footer_footer-social__M5Lqe">
                <ul>
                    <li>
                        <a href="{{ path('home') }}" target="_blank" rel="noreferrer"
                           tabindex="0"><img
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    alt="facebook-picto" width="26" height="26"
                                    data-frz-src="/images/footer/socials.svg#facebook"
                                    class="lazyfrz"/>
                        </a>
                    </li>
                    <li><a href="{{ path('home') }}" target="_blank" rel="noreferrer" tabindex="0">
                            <img
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    alt="twitter-picto"
                                    width="26" height="26" data-frz-src="/images/footer/socials.svg#twitter"
                                    class="lazyfrz"/>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('home') }}" target="_blank"
                           rel="noreferrer"
                           tabindex="0">
                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                 alt="youtube-picto" width="26" height="26"
                                 data-frz-src="/images/footer/socials.svg#youtube"
                                 class="lazyfrz"/>
                        </a>
                    </li>
                    <li>
                        <a tabindex="0" href="{{ path('home') }}"
                           target="_blank"
                           rel="noreferrer">
                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                 alt="dailymotion-picto" width="26" height="26"
                                 data-frz-src="/images/footer/socials.svg#dailymotion"
                                 class="lazyfrz"/>
                        </a>
                    </li>
                </ul>
            </div>
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                 class="lazyfrz footer_footer-logo__BLw4t" alt="Logo footer" width="293" height="113"
                 data-frz-src="{{ asset('frontend/images/footer/groupama.svg') }}"/>
        </div>
    </section>
    <section class="footer_footer-copyright__t0L2u">
        <div class="footer_footer-inner__QKy4f inner">
            <div class="footer_footer-mentions__rAfMg">
                <ul>
                    <li><a tabindex="0" href="{{ path('home') }}" target="_self" rel="nofollow">Mentions légales</a>
                    </li>
                    <li><a tabindex="0" href="/plan-du-site/" target="_self" rel="nofollow">Plan du site</a></li>
                    <li><a tabindex="0" href="/donnees-personnelles/" target="_self" rel="nofollow">Données
                            personnelles</a>
                    </li>
                    <li><a tabindex="0" href="/cookies/" target="_self" rel="nofollow">Cookies</a></li>
                    <li><a class="optanon-toggle-display" tabindex="0" role="button">Gérer mes cookies</a></li>
                </ul>
            </div>
        </div>
    </section>
</footer>
