{% if user is defined and user is not null %}
    <div>L'utilisateur : <span class="fw-bold">{{ user.FirstName ~ ' ' ~ user.LastName }}</span> a modifié la demande de macaron pour le véhicule (N° Vin Chassis) : <span class="fw-bold">{{ data.NumeroVinChassis }}</span> le <span class="fw-bold">{{ data.ModifiedAt|date('d/m/Y') }}</span></div>
{% else %}
    <div>Mise à jour demande de macaron pour le véhicule (N° Vin Chassis) : <span class="fw-bold">{{ data.NumeroVinChassis }}</span> créé le <span class="fw-bold">{{ data.ModifiedAt|date('d/m/Y') }}</span></div>
{% endif %}
