{% extends 'frontend/base.html.twig' %}

{% block title %}Accueil - SYNACVTCCI{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <style>
        .page-header {
            height: 183px !important;
        }
    </style>
{% endblock %}

{% block body %}

    {{ include('frontend/_partials/header.html.twig') }}


    <section class="page-header">
        <div class="page-header-shape"></div>
        <div class="container">
            <div class="page-header-info">
                <h4>Félicitation</h4>
                <h2>Bienvenue dans la famille <span>SYNACVTCCI!</span></h2>
            </div>
        </div>
    </section>

    <div class="taxi-booking bg-grey padding">
        <div class="container">
            <div class="row mx-auto justify-content-center">
                <div class="col-lg-5 col-md-7 sm-padding">
                    <div class="pricing-item">
                        <div class="pricing-head-wrap">
                                <img src="{{ asset('assets/frontend/img/successfully-done.gif') }}"  alt="success" />
                        </div>
                        <div class="pricing-head">
                            <h3>Bienvenue dans la famille SYNACVTCCI</h3>
                            <span class="location"></span>
                        </div>
                        <ul class="pricing-list d-flex justify-content-center align-items-center align-content-center">
{#                            <li><a class="btn btn-light" href="{{ path('download_receipt') }}/{{ member.id }}">Télécharger votre reçu d'inscription</a></li>#}
                            <li><a class="btn btn-light" href="{{ path('home') }}">Revenir à l'accueil</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ include('frontend/_partials/footer.html.twig') }}
{% endblock %}

{% block javascript %}
  {{ parent() }}
  <script>
      $('document').ready(function() {
      });

  </script>
{% endblock %}
