<!doctype html>
<html lang="en">
<head>
    <title>Card</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1013, height=642, initial-scale=1, shrink-to-fit=no">
    <style>
        body{
            background-image: url('{{ cardbg }}');
            background-repeat: no-repeat;
            padding: 0;
            margin: 0;
            width: auto;/*1013px;*/
            height: 642px;
        }
        #photo{
            position: absolute;
            left:2px;
            top: 236px;
            width: 310px;
            height: 340px;
            background-position:center;
            background-repeat: no-repeat;
            background-size:auto;
        }

        #info {
            position: absolute;
            text-align: center;
            top: 220px;
            left: 322px;
            width: 650px;
            /*border: 1px solid red;*/
        }


        #matricule{
            position: relative;
            display: inline-block;
            margin: 15px 0px 10px 0px;
            padding: 0 0;
            letter-spacing: 3px;
            text-align: center;
            font-weight: 1.0;
            height: auto;
            width: 100%;
            font-family: 'Arial', sans-serif;
            font-size: 20pt;
            /*border: 1px solid red;*/
        }

        #fullname {
            margin: 20px 0px 10px 0px;
            padding: 0 0;
            position: relative;
            display: inline-block;
            width: 100%;
            /*letter-spacing: 1px;*/
            line-height: 1.2;
            font-weight: bolder;
            text-align: center;
            height: auto;
            font-family: 'Arial Black';
            font-size: 25pt;
            /*border: 1px solid red;*/

        }

        #titre{
            margin: 15px 0px 0px 0px;
            padding: 0 0;
            display: inline-block;
            letter-spacing: 2px;
            font-weight: bolder;
            text-align: center;
            height: auto;
            width: 100%;
            font-family: 'Arial Black';
            font-size: 22pt;
            color: black;
            /*border: 1px solid red;*/

        }

        #expiredate {
            position: absolute;
            letter-spacing: 2px;
            left: 325px;
            top: 527px;
            width: 300px;
            font-weight: bolder;
            color: black;
            font-family: 'Arial Black';
            font-size: 14pt;
        }

        #website {
            position: absolute;
            letter-spacing: 2px;
            font-weight: bolder;
            left: 325px;
            top: 549px;
            width: 250px;
            color: white;
            font-family: 'Arial Black';
            font-size: 14pt;
            /*border: 1px solid red;*/
        }

        #qrcode  {
            position: absolute;
            left: 790px;
            top: 450px;
            padding: 10px 10px;
            background-color: white;
            z-index: 2;
            /*border: 1px solid red;*/

        }

        #qrcode img {
            width: 155px;
            height: 150px;
            z-index: 10;
        }
        #footer {
            position: absolute;
            left: 1px;
            top: 590px;
            width: 400px;
            height: 50px;
            /*border: 1px solid red;*/
        }

    </style>
</head>
<body>
<img id="photo" src="{{ photopath }}" alt="">
<div id="info">
    <p id="matricule">MATRICULE &nbsp; {{ matricule }}</p>
    <p id="fullname">{{ fullname }}</p>
    <p id="titre">{{ titre }}</p>
</div>

<div id="qrcode">
    <img src="{{ qrcodepath }}" alt="">
</div>
<div id="expiredate">{{ expiredate }}</div>
<div id="website">{{ website }}</div>
<div id="footer"></div>

</body>