{{ form_start(form) }}

<div class="card accordion my-3" id="info_perso">
    <div class="card-header accordion-item accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            1 - INFORMATIONS DEMANDE
        </button>
    </div>
    <div id="collapseOne" class="card-body accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#info_perso">
        <div class="accordion-body">
            {{ form_row(form.email) }}
            {{ form_row(form.titre) }}
            {{ form_row(form.sex) }}
            {{ form_row(form.lastName) }}
            {{ form_row(form.firstName) }}
            {{ form_row(form.date_of_birth) }}
            {{ form_row(form.birth_city) }}
            {{ form_row(form.company) }}
            {{ form_row(form.nationality) }}
            {{ form_row(form.mobile) }}
            {{ form_row(form.phone) }}
            {{ form_row(form.whatsapp) }}
            {{ form_row(form.country) }}
            {{ form_row(form.city) }}
            {{ form_row(form.commune) }}
            {{ form_row(form.quartier) }}

        </div>
    </div>
</div>

<div class="d-flex justify-content-center align-items-center">
    <a href="{{ path('home') }}" class="btn btn-primary w-50 default-btn bg-info">Fermer</a> &nbsp;&nbsp;
    <button class="btn btn-primary w-50 default-btn">{{ button_label|default('Enregistrer') }}</button>
</div>

{{ form_end(form) }}
