{% extends 'admin/base.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
{% endblock %}


{% block body %}
    <!-- <body data-layout="horizontal" data-topbar="dark"> -->

    <!-- Begin page -->
    <div id="layout-wrapper">


        {{ include('admin/_partials/header.html.twig') }}

        <!-- ========== Left Sidebar Start ========== -->
        {{ include('admin/_partials/left-sidebar.html.twig')}}
        <!-- Left Sidebar End -->


        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body border-bottom">
                                    <div class="d-flex justify-content-end">
                                        <div class="flex-shrink-0">
                                            <a href="{{ path('admin_demande_index') }}" class="btn btn-primary btn-sm waves-effect waves-light" >Fermer</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Fiche membre : <strong class="badge bg-gradient bg-info">{{ member.matricule }}</strong></h4>
                                    <table class="table table-bordered px-5">
                                        <tbody>
                                        <tr>
                                            <th>Matricule</th>
                                            <td>{{ demande.matricule }}</td>
                                        </tr>
                                        <tr>
                                            <th>Nom</th>
                                            <td>{{ demande.lastName }}</td>
                                        </tr>
                                        <tr>
                                            <th>Prénoms</th>
                                            <td>{{ demande.firstName }}</td>
                                        </tr>

                                        <tr>
                                            <th>Email</th>
                                            <td>{{ demande.email }}</td>
                                        </tr>
                                        <tr>
                                            <th>Titre</th>
                                            <td><span class="badge badge-pill bg-info font-size-11">{{ demande.titre }}</span></td>
                                        </tr>
                                        <tr>
                                            <th>Date de souscription</th>
                                            <td>{{ demande.subscriptionDate ? demande.subscriptionDate|date('Y-m-d') : '' }}</td>
                                        </tr>
                                        <tr>
                                            <th>Expire le</th>
                                            <td>{{ demande.subscriptionExpireDate ? demande.subscriptionExpireDate|date('Y-m-d') : '' }}</td>
                                        </tr>
                                        <tr>
                                            <th>Sex</th>
                                            <td>{{ demande.sex }}</td>
                                        </tr>
                                        <tr>
                                            <th>Date de naissance</th>
                                            <td>{{ demande.dateOfBirth ? demande.dateOfBirth|date('Y-m-d') }}</td>
                                        </tr>
                                        <tr>
                                            <th>Lieu de naissance</th>
                                            <td>{{ demande.birthCity }}</td>
                                        </tr>
                                        <tr>
                                            <th>N° Permis de conduire</th>
                                            <td>{{ demande.drivingLicenseNumber }}</td>
                                        </tr>
                                        <tr>
                                            <th>N° Pièce d'identité</th>
                                            <td>{{ demande.IdNumber }}</td>
                                        </tr>
                                        <tr>
                                            <th>Type de pièce</th>
                                            <td>{{ demande.IdType }}</td>
                                        </tr>
                                        <tr>
                                            <th>Images CNI</th>
                                            <td>
                                                <img src="{{ asset('demande/') }}{{ member.matricule }}/{{ member.photoPieceFront }}" alt="" width="200" class="rounded-2">
                                                <img src="{{ asset('demande/') }}{{ member.matricule }}/{{ member.photoPieceBack }}" alt="" width="200" class="rounded-2">

                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Images Permis</th>
                                            <td>
                                                <img src="{{ asset('demande/') }}{{ member.matricule }}/{{ member.photoPermisFront }}" alt="" width="200" class="rounded-2">
                                                <img src="{{ asset('demande/') }}{{ member.matricule }}/{{ member.photoPermisBack }}" alt="" width="200" class="rounded-2">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Pays</th>
                                            <td>{{ demande.country }}</td>
                                        </tr>
                                        <tr>
                                            <th>Ville</th>
                                            <td>{{ demande.city }}</td>
                                        </tr>
                                        <tr>
                                            <th>Commune</th>
                                            <td>{{ demande.commune }}</td>
                                        </tr>
                                        <tr>
                                            <th>Tel Mobile</th>
                                            <td>{{ demande.mobile }}</td>
                                        </tr>
                                        <tr>
                                            <th>Tel Fixe</th>
                                            <td>{{ demande.phone }}</td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- container-fluid -->
            </div><!-- End Page-content -->

            {{ include('admin/_partials/footer.html.twig') }}
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    <!-- Right Sidebar -->

    <!-- /Right-bar -->

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

{% endblock %}

{% block javascript %}
{{ parent() }}
  <script>

  </script>
{% endblock %}


