{% extends 'admin/base.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
{% endblock %}


{% block body %}
    <!-- <body data-layout="horizontal" data-topbar="dark"> -->

    <!-- Begin page -->
    <div id="layout-wrapper">


        {{ include('admin/_partials/header.html.twig') }}

        <!-- ========== Left Sidebar Start ========== -->
        {{ include('admin/_partials/left-sidebar.html.twig')}}
        <!-- Left Sidebar End -->


        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body border-bottom">
                                    <div class="d-flex justify-content-end">
                                        <div class="flex-shrink-0">
                                            <a href="{{ path('admin_payment_show',{'id': demande.payment.id}) }}" class="btn btn-success btn-sm waves-effect waves-light"><span class="fa fa-money-bill fa-1x"></span> Voir paiement</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Fiche demande : <strong class="text-primary text-decoration-underline"> N° RECU : {{ demande.Reference }}</strong></h4>
                                    <table class="table table-bordered px-5 w-75">
                                        <tbody>
                                        <tr>
                                            <th style="width: 30%">Numéro récépissé</th>
                                            <td>{{ demande.NumeroRecepisse }}</td>
                                        </tr>
                                        <tr>
                                            <th style="width: 30%">Numéro immatriculation</th>
                                            <td>{{ demande.NumeroImmatriculation }}</td>
                                        </tr>
                                        <tr>
                                            <th>Numéro vin Chassis</th>
                                            <td>{{ demande.NumeroVinChassis }}</td>
                                        </tr>
                                        <tr>
                                            <th>N° Carte grise</th>
                                            <td>{{ demande.NumeroCarteGrise }}</td>
                                        </tr>
                                        <tr>
                                            <th>Satut du paiement</th>
                                            <td>{{ demande.Status }}</td>
                                        </tr>
                                        <tr>
                                            <th>Date de première mise en cirulation</th>
                                            <td>{{ demande.DateDePremiereMiseEnCirulation|date('d/m/Y') }}</td>
                                        </tr>

                                        <tr>
                                            <th>Date d'édition</th>
                                            <td>{{ demande.DateDEdition|date('d/m/Y') }}</td>
                                        </tr>
                                        <tr>
                                            <th>Identite propriétaire</th>
                                            <td><span class="badge badge-pill bg-info font-size-11">{{ demande.IdentiteProprietaire }}</span></td>
                                        </tr>
                                        <tr>
                                            <th>Pièce propriétaire</th>
                                            <td><span class="badge badge-pill bg-info font-size-11">{{ demande.IdentiteProprietairePiece }}</span></td>
                                        </tr>
                                        <tr>
                                            <th>Identite propriétaire</th>
                                            <td><span class="badge badge-pill bg-info font-size-11">{{ demande.IdentiteProprietaire }}</span></td>
                                        </tr>
                                        <tr>
                                            <th>Marque du véhicule</th>
                                            <td>{{ demande.MarqueDuVehicule }}</td>
                                        </tr>
                                        <tr>
                                            <th>Genre du véhicule</th>
                                            <td>{{ demande.GenreVehicule }}</td>
                                        </tr>
                                        <tr>
                                            <th>Type commercial</th>
                                            <td>{{ demande.TypeCommercial }}</td>
                                        </tr>
                                        <tr>
                                            <th>Couleur vehicule</th>
                                            <td>{{ demande.CouleurVehicule }}</td>
                                        </tr>
                                        <tr>
                                            <th>Energie véhicule</th>
                                            <td>{{ demande.EnergieVehicule }}</td>
                                        </tr>
                                        <tr>
                                            <th>Places assises</th>
                                            <td>{{ demande.PlacesAssises }}</td>
                                        </tr>
                                        <tr>
                                            <th>Usage véhicule</th>
                                            <td>{{ demande.UsageVehicule }}</td>
                                        </tr>
                                        <tr>
                                            <th>Puissance fiscale</th>
                                            <td>{{ demande.PuissanceFiscale }}</td>
                                        </tr>
                                        <tr>
                                            <th>Nombre d'essieux</th>
                                            <td>{{ demande.NombreDEssieux }}</td>
                                        </tr>
                                        <tr>
                                            <th>Cylindre</th>
                                            <td>{{ demande.Cylindree }}</td>
                                        </tr>

                                        <tr>
                                            <th>Société de crédit</th>
                                            <td>{{ demande.SocieteDeCredit }}</td>
                                        </tr>
                                        <tr>
                                            <th>Type technique</th>
                                            <td>{{ demande.TypeTechnique }}</td>
                                        </tr>
                                        <tr>
                                            <th>Numéro d'immatriculation précédent</th>
                                            <td>{{ demande.NumeroDImmatriculationPrecedent }}</td>
                                        </tr>
                                        <tr>
                                            <th>Carte grise (scan)</th>
                                            <td>{{ demande.carteGriseImage }}</td>
                                        </tr>
                                        <tr>
                                            <th>Carte grise (scan)</th>
                                            <td>{{ demande.recepisseImage }}</td>
                                        </tr>
                                        <tr>
                                            <th>Date du rendez-vous</th>
                                            <td>{{ demande.DateRendezVous|date('d l F Y') }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- container-fluid -->
            </div><!-- End Page-content -->

            {{ include('admin/_partials/footer.html.twig') }}
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    <!-- Right Sidebar -->

    <!-- /Right-bar -->

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

{% endblock %}

{% block javascript %}
{{ parent() }}
  <script>
      $('document').ready(function() {

      });

  </script>
{% endblock %}


