{% extends 'admin/base.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
{% endblock %}


{% block body %}
    <!-- <body data-layout="horizontal" data-topbar="dark"> -->

    <!-- Begin page -->
    <div id="layout-wrapper">


        {{ include('admin/_partials/header.html.twig') }}

        <!-- ========== Left Sidebar Start ========== -->
        {{ include('admin/_partials/left-sidebar.html.twig')}}
        <!-- Left Sidebar End -->


        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Editer les informations</h4>
                                    {{ include('admin/demande/_form_edit.html.twig', {'button_label': 'Mettre à jour'}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- container-fluid -->
            </div><!-- End Page-content -->

            {{ include('admin/_partials/footer.html.twig') }}
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    <!-- Right Sidebar -->

    <!-- /Right-bar -->

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

{% endblock %}

{% block javascript %}
{{ parent() }}
  <script>
      $('document').ready(function() {

      });
  </script>
{% endblock %}


