{% extends 'admin/base.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link href="{{ asset('backend/libs/bootstrap-editable/css/bootstrap-editable.css') }}" rel="stylesheet" type="text/css" />
    <style>
        .inputfile {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }
        .inputfile + label {
            font-size: 0.25em;
            font-weight: 500;
            padding: 3px 3px;
            border-radius: 5px;
            color: white;
            background-color: black;
            display: inline-block;
        }

        .inputfile:focus + label,
        .inputfile + label:hover {
            background-color: #e37200;
        }
        .inputfile + label {
            cursor: pointer; /* "hand" cursor */
        }
    </style>

{% endblock %}


{% block body %}
    <!-- <body data-layout="horizontal" data-topbar="dark"> -->

    <!-- Begin page -->
    <div id="layout-wrapper">


        {{ include('admin/_partials/header.html.twig') }}

        <!-- ========== Left Sidebar Start ========== -->
{#        {{ include('admin/_partials/left-sidebar.html.twig')}}#}
        <!-- Left Sidebar End -->


        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body border-bottom">
                                    <div class="d-flex justify-content-end">
                                        <div class="flex-shrink-0">
                                            <a href="{{ path('admin_payment_show',{'id': demande.payment.id}) }}" class="btn btn-success btn-sm waves-effect waves-light"><span class="fa fa-money-bill fa-1x"></span> Voir paiement</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-4">
                                            <h4 class="card-title mb-4">FICHE DEMANDE DE MACARON : <strong class="text-primary text-decoration-underline"> N° RECU : {{ demande.Reference }}</strong></h4>
                                        </div>
                                        <div class="col-2">
                                            <strong class="badge badge-pill bg-success font-size-15">{{ demande.Status }}</strong>
                                        </div>
                                        <div class="col-4">
                                            DATE DU RENDEZ-VOUS: <strong class="badge badge-pill bg-info font-size-12"> {{ demande.DateRendezVous|date('d/m/Y') }}</strong>
                                        </div>

                                    </div>
                                    <table class="table table-bordered px-5 w-100 font-size-18">
                                        <tbody>
                                        <tr>
                                            <th style="width: 45%">Numéro récépissé</th>
                                            <td>
                                                <a href="javascript: void(0);" id="numero_recepisse" data-url="{{ path("admin_demande_edit_ajax", {id: demande.id}) }}" data-type="text" data-pk="1" data-title="Entrer le numéro de récépissé" class="editable editable-click">{{ demande.NumeroRecepisse }}</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th style="width: 45%">Numéro immatriculation</th>
                                            <td>
                                                <a href="javascript: void(0);" id="numero_immatriculation" data-url="{{ path("admin_demande_edit_ajax", {id: demande.id}) }}" data-type="text" data-pk="1" data-title="Entrer le numéro d'immatriculation" class="editable editable-click"> {{ demande.NumeroImmatriculation }}</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Numéro vin Chassis</th>
                                            <td>
                                                <a href="javascript: void(0);" id="numero_vin_chassis" data-url="{{ path("admin_demande_edit_ajax", {id: demande.id}) }}" data-type="text" data-pk="1" data-title="Entrer le numéro de chassis" class="editable editable-click">{{ demande.NumeroVinChassis }}</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>N° Carte grise</th>
                                            <td>
                                                <a href="javascript: void(0);" id="numero_carte_grise" data-url="{{ path("admin_demande_edit_ajax", {id: demande.id}) }}" data-type="text" data-pk="1" data-title="Entrer le numéro de la carte grise" class="editable editable-click">{{ demande.NumeroCarteGrise }}</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Date de première mise en cirulation</th>
                                            <td>
                                                <a href="javascript: void(0);" id="date_de_premiere_mise_en_cirulation" data-url="{{ path("admin_demande_edit_ajax", {id: demande.id}) }}" data-type="combodate" data-value="{{ demande.DateDePremiereMiseEnCirulation|date('d/m/Y') }}" data-format="YYYY-MM-DD" data-viewformat="DD/MM/YYYY" data-template="D / MMM / YYYY" data-pk="1"  data-title="Date de première mise en cirulation">{{ demande.DateDePremiereMiseEnCirulation|date('d/m/Y') }}</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Date d'édition</th>
                                            <td>
                                                <a href="javascript: void(0);" id="date_d_edition" data-url="{{ path("admin_demande_edit_ajax", {id: demande.id}) }}" data-type="combodate" data-value="{{ demande.DateDEdition|date('d/m/Y') }}" data-format="YYYY-MM-DD" data-viewformat="DD/MM/YYYY" data-template="D / MMM / YYYY" data-pk="1"  data-title="Date d'édition">{{ demande.DateDEdition|date('d/m/Y') }}</a></td>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Nom du propriétaire</th>
                                            <td>
                                                <a href="javascript: void(0);" id="identite_proprietaire" data-url="{{ path("admin_demande_edit_ajax", {id: demande.id}) }}" data-type="text" data-pk="1" data-title="Identite Proprietaire" class="editable editable-click">{{ demande.IdentiteProprietaire }}</a>
                                            </td>
                                        </tr>
                                        <tr class="bg-light bg-warning">
                                            <th>Contact du propriétaire (N° Téléphone)</th>
                                            <td>
                                                <a href="javascript: void(0);" id="numero_telephone_proprietaire" data-url="{{ path("admin_demande_edit_ajax", {id: demande.id}) }}" data-type="text" data-pk="1" data-title="Identite Proprietaire" class="editable editable-click">{{ demande.NumeroTelephoneProprietaire }}</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Pièce propriétaire</th>
                                            <td>
                                                <a href="javascript: void(0);" id="identite_proprietaire_piece" data-url="{{ path("admin_demande_edit_ajax", {id: demande.id}) }}" data-type="text" data-pk="1" data-title="Identite Proprietaire Piece" class="editable editable-click">{{ demande.IdentiteProprietairePiece }}</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Marque du véhicule</th>
                                            <td>
                                                <a href="javascript: void(0);" id="marque_du_vehicule" data-url="{{ path("admin_demande_edit_ajax", {id: demande.id}) }}" data-type="text" data-pk="1" data-title="Marque de vehicule" class="editable editable-click">{{ demande.MarqueDuVehicule }}</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Genre du véhicule</th>
                                            <td>
                                                <a href="javascript: void(0);" id="genre_vehicule" data-url="{{ path("admin_demande_edit_ajax", {id: demande.id}) }}" data-type="text" data-pk="1" data-title="Genre de vehicule" class="editable editable-click">{{ demande.GenreVehicule }}</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Type commercial</th>
                                            <td>
                                                <a href="javascript: void(0);" id="type_commercial" data-url="{{ path("admin_demande_edit_ajax", {id: demande.id}) }}" data-type="text" data-pk="1" data-title="Genre de vehicule" class="editable editable-click">{{ demande.TypeCommercial }}</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Couleur vehicule</th>
                                            <td>
                                                <a href="javascript: void(0);" id="couleur_vehicule" data-url="{{ path("admin_demande_edit_ajax", {id: demande.id}) }}" data-type="text" data-pk="1" data-title="Couleur de vehicule" class="editable editable-click">{{ demande.CouleurVehicule }}</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Carrosserie vehicule</th>
                                            <td>
                                                <a href="javascript: void(0);" id="carroserie_vehicule" data-url="{{ path("admin_demande_edit_ajax", {id: demande.id}) }}" data-type="text" data-pk="1" data-title="Couleur de vehicule" class="editable editable-click">{{ demande.CarroserieVehicule }}</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Energie véhicule</th>
                                            <td>
                                                <a href="javascript: void(0);" id="energie_vehicule" data-url="{{ path("admin_demande_edit_ajax", {id: demande.id}) }}" data-type="text" data-pk="1" data-title="Energie de vehicule" class="editable editable-click">{{ demande.EnergieVehicule }}</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Places assises</th>
                                            <td>
                                                <a href="javascript: void(0);" id="places_assises" data-url="{{ path("admin_demande_edit_ajax", {id: demande.id}) }}" data-type="text" data-pk="1" data-title="Paces assises" class="editable editable-click">{{ demande.PlacesAssises }}</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Usage véhicule</th>
                                            <td>
                                                <a href="javascript: void(0);" id="usage_vehicule" data-url="{{ path("admin_demande_edit_ajax", {id: demande.id}) }}" data-type="text" data-pk="1" data-title="Usage de vehicule" class="editable editable-click">{{ demande.UsageVehicule }}</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Puissance fiscale</th>
                                            <td>
                                                <a href="javascript: void(0);" id="puissance_fiscale" data-url="{{ path("admin_demande_edit_ajax", {id: demande.id}) }}" data-type="text" data-pk="1" data-title="Puissance fiscale" class="editable editable-click">{{ demande.PuissanceFiscale }}</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Nombre d'essieux</th>
                                            <td>
                                                <a href="javascript: void(0);" id="nombre_d_essieux" data-url="{{ path("admin_demande_edit_ajax", {id: demande.id}) }}" data-type="text" data-pk="1" data-title="Nombre essieux" class="editable editable-click">{{ demande.NombreDEssieux }}</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Cylindre</th>
                                            <td>
                                                <a href="javascript: void(0);" id="cylindree" data-url="{{ path("admin_demande_edit_ajax", {id: demande.id}) }}" data-type="text" data-pk="1" data-title="Nombre essieux" class="editable editable-click">{{ demande.Cylindree }}</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th>Société de crédit</th>
                                            <td>
                                                <a href="javascript: void(0);" id="societe_de_credit" data-url="{{ path("admin_demande_edit_ajax", {id: demande.id}) }}" data-type="text" data-pk="1" data-title="Société de Credit" class="editable editable-click">{{ demande.SocieteDeCredit }}</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Type technique</th>
                                            <td>
                                                <a href="javascript: void(0);" id="type_technique" data-url="{{ path("admin_demande_edit_ajax", {id: demande.id}) }}" data-type="text" data-pk="1" data-title="Type Technique" class="editable editable-click">{{ demande.TypeTechnique }}</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Numéro d'immatriculation précédent</th>
                                            <td>
                                                <a href="javascript: void(0);" id="numero_d_immatriculation_precedent" data-url="{{ path("admin_demande_edit_ajax", {id: demande.id}) }}" data-type="text" data-pk="1" data-title="Numero D'immatriculation Précédent" class="editable editable-click">{{ demande.NumeroDImmatriculationPrecedent }}</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Carte grise (scan)</th>
                                            <td>
                                                {%  if demande.carteGriseImage  %}
                                                    <img src="{{ asset("frontend/media/") ~ demande.carteGriseImage }}" width="95" >
                                                {% endif %}
                                                    <input type="file" name="carte_grise_image" id="carte_grise_image" class="inputfile" />
                                                    <label for="carte_grise_image">Choisir une image</label>
                                                    <button class="ml-3 btn btn-link" id="carte_grise_image_btn">uploader</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Récépissé grise (scan)</th>
                                            <td>
                                                {%  if demande.recepisseImage %}
                                                <div class="mx-5">
                                                    <img src="{{ asset("frontend/media/") ~ demande.recepisseImage }}" width="150">
                                                </div>
                                                {% endif %}
                                                <div class="mx-5">
                                                    <input type="file" name="recepisse_image" id="recepisse_image" class="inputfile" />
                                                    <label for="recepisse_image">Choisir une image</label>
                                                    <button class="ml-3 btn btn-link" id="recepisse_image_btn">uploader</button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="bg-light bg-warning">
                                            <th class="text-danger fw-bold">QR CODE MACARON </th>
                                            <td>
                                                <a href="javascript: void(0);" id="macaron_qrcode_number" data-url="{{ path("admin_demande_edit_ajax", {id: demande.id}) }}" data-type="text" data-pk="1" data-title="Numero D'immatriculation Précédent" class="editable editable-click">{{ demande.MacaronQrcodeNumber }}</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                Informations:
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <button class="btn btn-success" id="generate_macaron">GENERER LE MACARON</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- container-fluid -->
            </div><!-- End Page-content -->

            {{ include('admin/_partials/footer.html.twig') }}
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    <!-- Right Sidebar -->

    <!-- /Right-bar -->

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="{{ asset('backend/libs/bootstrap-editable/js/index.js') }}"></script>
<script src="{{ asset('backend/libs/moment/moment.min.js') }}"></script>

  <script>
      $('document').ready(function() {

            $.fn.editableform.buttons = '<button type="submit" class="btn btn-success editable-submit btn-sm waves-effect waves-light"><i class="mdi mdi-check"></i></button><button type="button" class="btn btn-danger editable-cancel btn-sm waves-effect waves-light"><i class="mdi mdi-close"></i></button>',
            $("table tr td a").editable({
                mode: "inline",
                inputclass: "form-control-sm",
                emptytext: 'n/a'
            });

            $("#generate_macaron").click(function(){
                alert('Generate macaron');
            });

            $("#carte_grise_image_btn").click(function(){
                uploadImg("input[name='carte_grise_image']", 'carte_grise_image')
            });
            $("#recepisse_image_btn").click(function(){
                uploadImg("input[name='recepisse_image']", 'recepisse_image')
            });

            function uploadImg(fileTagId, fileName){
                console.log(fileTagId);
                  var fd = new FormData();
                  var files = $(fileTagId)[0].files;

                  // Check file selected or not
                  if(files.length > 0 ){
                       fd.append(fileName,files[0]);
                       $.ajax({
                                url:"{{ path('admin_demande_edit_ajax', {id: demande.id}) }}",
                                type:'post',
                                data:fd,
                                dataType: 'json',
                                contentType: false,
                                processData: false,
                                success:function(response){
                                    console.log(response);
                                    location.reload();
                                }
                           });
                  }
                  else{
                     alert("Veuillez selectionner un fichier.");
                  }
            }
      });

  </script>
{% endblock %}


