<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.112.5">
    <title>{% block title %}Accueil{% endblock %}</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/blog/">
    <link  href="{{ asset('frontend/libs/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link  href="{{ asset('frontend/libs/owl/assets/owl.carousel.min.css') }}" rel="stylesheet" type="text/css">
    <script src="{{ asset('frontend/assets/js/color-modes.js') }}"></script>
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
        }


        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }


        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }

        .btn-bd-primary {
            --bd-violet-bg: #712cf9;
            --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

            --bs-btn-font-weight: 600;
            --bs-btn-color: var(--bs-white);
            --bs-btn-bg: var(--bd-violet-bg);
            --bs-btn-border-color: var(--bd-violet-bg);
            --bs-btn-hover-color: var(--bs-white);
            --bs-btn-hover-bg: #6528e0;
            --bs-btn-hover-border-color: #6528e0;
            --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
            --bs-btn-active-color: var(--bs-btn-hover-color);
            --bs-btn-active-bg: #5a23c8;
            --bs-btn-active-border-color: #5a23c8;
        }

        .bd-mode-toggle {
            z-index: 1500;
        }

        .t-header {
            background-color: #006a53;
            color: rgb(255, 255, 255)
        }

        .flash_info_label {
            background-color: rgba(255, 255, 255, 0.2);
            font-weight: 600;
        }

        .cta1-container {
            -webkit-text-size-adjust: 100%;
            -webkit-font-smoothing: auto;
            color: #222222;
            line-height: 1.5;
            visibility: visible;
            clear: both;
            box-sizing: border-box;
            float: right;
            display: block;
            vertical-align: top;
        }

        .nav a.nav-link {
            font-size: 14px;
        }

        .nav-underline .nav-link:focus,
        .nav-underline .nav-link:hover {
            border-bottom-color: rgba(0, 106, 83, 0.33);
        }

        @media (min-width: 48em) {
            .cta1-container .cta1 {
                -webkit-text-size-adjust: 100%;
                -webkit-font-smoothing: auto;
                line-height: 1.5;
                visibility: visible;
                background-color: transparent;
                word-break: break-word;
                clear: both;
                box-sizing: border-box;
                font-family: 'OpenSans', Arial, Helvetica, sans-serif;
                text-decoration: none;
                cursor: pointer;
                color: #006a53;
                text-align: right;
                padding: 14px 0;
                display: flex;
                font-size: 14px;
                -webkit-box-align: center;
                align-items: center;
            }

            .cta1-container .cta1 p {
                -webkit-text-size-adjust: 100%;
                -webkit-font-smoothing: auto;
                line-height: 1.5;
                visibility: visible;
                word-break: break-word;
                cursor: pointer;
                color: #006a53;
                text-align: right;
                font-size: 14px;
                clear: both;
                box-sizing: border-box;
                font-family: 'OpenSans', Arial, Helvetica, sans-serif;
                margin: 0 16px 0 0;
            }

            .cta1-container .cta1 p span.name {
                font-weight: bold;
                display: block;
                text-overflow: ellipsis;
                overflow: hidden;
                width: 110px;
                white-space: nowrap;
            }

            .cta1-container .cta1 p span.espaceClient {
                display: block;
                font-size: 12px;
            }

        }

        .eGihjF {
            -webkit-text-size-adjust: 100%;
            -webkit-font-smoothing: auto;
            color: #222222;
            line-height: 1.5;
            visibility: visible !important;
            box-sizing: inherit;
            display: flex;
            flex-direction: column;
            width: 100%;
            min-width: 230px;
            background-color: #ffffff;
            padding: 16px;
            align-self: flex-start;
            position: absolute;
            left: 10px;
            top: 241px;
            z-index: 2;
            margin-bottom: 0;
            max-width: 320px;
        }

        .eGihjF h1 {
            -webkit-text-size-adjust: 100%;
            -webkit-font-smoothing: auto;
            visibility: visible !important;
            box-sizing: inherit;
            word-break: break-word;
            -webkit-box-align: center;
            align-items: center;
            margin: 0;
            font-weight: bold;
            text-transform: uppercase;
            display: inline-flex;
            font-family: 'Gotham Cond SSm', 'Arial Narrow Title', 'Roboto Condensed Title', 'DIN Condensed Title', 'Arial Title', 'Helvetica title', 'sans-serif-title', sans-serif;
            letter-spacing: 0.8px;
            color: #d86100;
            font-size: 28px;
            line-height: 1.22;
            margin-bottom: 0;
        }

        .eGihjF p {
            -webkit-text-size-adjust: 100%;
            -webkit-font-smoothing: auto;
            visibility: visible !important;
            box-sizing: inherit;
            margin: 0;
            text-transform: uppercase;
            color: #006a53;
            font-family: 'Gotham Cond SSm', 'Arial Narrow Title', 'Roboto Condensed Title', 'DIN Condensed Title', 'Arial Title', 'Helvetica title', 'sans-serif-title', sans-serif;
            font-weight: bold;
            margin-bottom: 16px;
            line-height: 1.22;
            font-size: 10px;
        }

        .ePNbYx {
            display: -webkit-inline-box;
            display: -webkit-inline-flex;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            min-width: 160px;
            line-height: 1.2;
            -webkit-text-decoration: none;
            text-decoration: none;
            overflow-wrap: break-word;
            cursor: pointer;
            -webkit-font-smoothing: auto;
            -moz-osx-font-smoothing: grayscale;
            -webkit-transition: 0.3s background ease, 0.3s color ease, border 0.3s ease;
            transition: 0.3s background ease, 0.3s color ease, border 0.3s ease;
            font-family: 'Gotham SSm', 'Arial Rounded', 'Helvetica Rounded', 'sans-serif-rounded', sans-serif;
            font-size: 16px;
            font-weight: 600;
            padding: 14px 16px 13px;
            color: #ffffff;
            border: 1px solid #ff7b00;
            border-radius: 3px;
            background-color: #ff7b00;
        }

        .ePNbYx span {
            -webkit-text-size-adjust: 100%;
            visibility: visible !important;
            word-break: break-word;
            line-height: 1.2;
            overflow-wrap: break-word;
            cursor: pointer;
            -webkit-font-smoothing: auto;
            font-family: 'Gotham SSm', 'Arial Rounded', 'Helvetica Rounded', 'sans-serif-rounded', sans-serif;
            font-size: 16px;
            font-weight: 600;
            color: #ffffff;
            box-sizing: inherit;
            display: inline-flex;
            -webkit-box-pack: start;
            justify-content: flex-start;
            -webkit-box-align: center;
            align-items: center;
            text-align: left;
            flex: 1;
        }

        .flYPBY {
            display: inline-block;
            vertical-align: middle;
            fill: currentColor;
            height: 14px;
            width: 14px;
            min-width: 14px;
            margin-left: 8px;
        }


        .lefIfz {
            display: inline-block;
            vertical-align: middle;
            fill: currentColor;
            color: #006a53;
            width: 24px;
            height: 24px;
        }
    </style>

    <!-- Custom styles for this template -->
    <link  href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
            rel="stylesheet"> <!-- Custom styles for this template -->
    <link href="{{ asset('') }}blog.css" rel="stylesheet">
</head>

<body>
<header class="t-header d-none d-sm-block mb-3">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start py-2">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li class="flash_info_label"><a href="#" class="nav-link text-white">FASH INFO</a></li>
            </ul>
            <div class="text-end">
            </div>
        </div>
    </div>
</header>
<div class="container mb-3">
    <header>
        <div class="d-flex flex-nowrap justify-content-between align-items-center">
            <div class="flex-grow-1">
                <a class="link-secondary text-right" href="#" style="height:max-content">
                    <img src="{{ asset('frontend/assets/img/logo_v1.jpg') }}" alt="logo" style="height:90px;width:90px;">
                    <img src="{{ asset('frontend/images/logo_district.png') }}" alt="logo" style="height:75px;width:80px;margin-left:10px;padding-left:10px; border-left:1px solid #b9b9b9;">
                </a>
            </div>
            <div class="flex-grow-2">
                <div class="nav-scroller py-1 mb-3">
                    <nav class="nav nav-underline justify-content-center">
                        <a class="nav-item nav-link link-body-emphasis itemniv2-nav-link" href="#">Accueil</a>
                        <a class="nav-item nav-link link-body-emphasis" href="#">Qui sommes-nous</a>
                        <a class="nav-item nav-link link-body-emphasis" href="#">Demandes</a>
                        <a class="nav-item nav-link link-body-emphasis" href="#">Réclamations</a>
                        <a class="nav-item nav-link link-body-emphasis" href="#">Nos services</a>
                        <a class="nav-item nav-link link-body-emphasis" href="#">Nous contactez</a>
                    </nav>
                </div>
            </div>

            <div class="flex-grow-1">
                <div class="cta1-container">
                    <a class="cta1" href="/" target="_blank" rel="noopener noreferrer">
                        <p>
                            <span class="name">Me connecter</span>
                            <span class="espaceClient">à mon Espace client</span>
                        </p>
                        <svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg" name="UserLock"
                             aria-hidden="true" focusable="false" color="brand.0" class="sc-3e8a2c25-0 lefIfz">
                            <path
                                    d="M3.5 19a.5.5 0 0 1-.5-.5v-1.3A3.202 3.202 0 0 1 6.2 14c.612 0 1.222.5 2.8.5 1.578 0 2.188-.5 2.8-.5.084 0 .166.019.247.025.067-.345.206-.672.41-.96a4.144 4.144 0 0 0-.66-.065c-.897 0-1.328.5-2.8.5-1.472 0-1.9-.5-2.8-.5A4.2 4.2 0 0 0 2 17.2v1.3A1.5 1.5 0 0 0 3.5 20h9.012a2.45 2.45 0 0 1-.462-1H3.5ZM9 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8Zm0-7a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm8.5 10.5a1 1 0 1 0 0 2.002 1 1 0 0 0 0-2.002Zm3-2.5H20v-1.5a2.5 2.5 0 0 0-5 0V13h-.5a1.5 1.5 0 0 0-1.5 1.5v4a1.5 1.5 0 0 0 1.5 1.5h6a1.5 1.5 0 0 0 1.5-1.5v-4a1.5 1.5 0 0 0-1.5-1.5ZM16 11.5a1.5 1.5 0 1 1 3 0V13h-3v-1.5Zm5 7a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 .5.5v4Z">
                            </path>
                        </svg>
                    </a>
                </div>
            </div>

        </div>
    </header>


</div>

<main class="container">
    <div class="rounded text-body-emphasis">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="eGihjF">
                <div style="display:contents">
                    <h1 color="#d86100" class="sc-afcf0985-0 hWWVP">VTC</h1>
                </div>
                <div style="display:contents">
                    <p class="sc-ff3d7efc-0 jjzkEl">Votre macaron</p>
                </div>
                <a tabindex="0" href="/auth" class="sc-29f394f2-0 ePNbYx" rel="follow">
                    <span class="sc-440a794-0 hrlawX">Faire une demande</span>
                    <svg viewBox="0 0 10 16" xmlns="http://www.w3.org/2000/svg" name="common/ArrowRight" aria-hidden="true"
                         focusable="false" ml="2" class="sc-3e8a2c25-0 flYPBY">
                        <path
                                d="m1.178 15.057-.08-.147c-.289-.6-.256-1.349.164-1.818l4.851-5.061L1.3 3.007l-.047-.04c-.565-.54-.565-1.537 0-2.077l.06-.05-.05.048A1.523 1.523 0 0 1 2.357.4c.395 0 .631.125.878.372l5.188 5.415c.473.526.748 1.185.748 1.843 0 .658-.275 1.317-.732 1.825L3.327 15.19l-.093.082c-.61.454-1.475.454-1.972-.1l-.084-.115z">
                        </path>
                    </svg>
                </a>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active w-100" style="background-position:center;background-repeat: no-repeat; background-image: url('{{ asset('frontend/assets/img/banner_v2_front.jpg') }}'); height: 400px; width:100%">
                    <div style="background-size:cover;background-position:center;background-repeat: no-repeat; background-image: url('{{ asset('frontend/assets/img/banner_v2_front.jpg') }}'); height: 400px; width:100%">
                    </div>
                </div>
                <div class="carousel-item w-100" style="background-position:center;background-repeat: no-repeat; background-image: url('{{ asset('frontend/assets/img/banner_v2_back.jpeg') }}'); height: 400px; width:100%">
                    <div style="background-size:cover;background-position:center;background-repeat: no-repeat; background-image: url('{{ asset('frontend/assets/img/banner_v2_back.jpeg') }}'); height: 400px; width:100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<script src="{{ asset('frontend/libs/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('frontend/libs/inputmask/dist/jquery.inputmask.js') }}"></script>
<script src="{{ asset('frontend/libs/inputmask/dist/bindings/inputmask.binding.js') }}"></script>
<script src="{{ asset('frontend/libs/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('frontend/libs/owl/owl.carousel.min.js') }}"></script>
<script>
    $(document).ready(function () {
        const carousel = new bootstrap.Carousel('#carouselExampleSlidesOnly');
    });
</script>
</body>

</html>
