{% extends 'frontend/base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheet %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="rounded text-body-emphasis">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="eGihjF">
                    <div style="display:contents">
                        <h1 color="#d86100" class="sc-afcf0985-0 hWWVP">VTC</h1>
                    </div>
                    <div style="display:contents">
                        <p class="sc-ff3d7efc-0 jjzkEl">Votre macaron à </p>
                        <p class="fs-4 fw-bolder">10100 FCFA</p>
                    </div>
                    <a tabindex="0" href="/auth" class="sc-29f394f2-0 ePNbYx" rel="follow">
                        <span class="sc-440a794-0 hrlawX">Faire une demande</span>
                        <svg viewBox="0 0 10 16" xmlns="http://www.w3.org/2000/svg" name="common/ArrowRight" aria-hidden="true"
                             focusable="false" ml="2" class="sc-3e8a2c25-0 flYPBY">
                            <path
                                    d="m1.178 15.057-.08-.147c-.289-.6-.256-1.349.164-1.818l4.851-5.061L1.3 3.007l-.047-.04c-.565-.54-.565-1.537 0-2.077l.06-.05-.05.048A1.523 1.523 0 0 1 2.357.4c.395 0 .631.125.878.372l5.188 5.415c.473.526.748 1.185.748 1.843 0 .658-.275 1.317-.732 1.825L3.327 15.19l-.093.082c-.61.454-1.475.454-1.972-.1l-.084-.115z">
                            </path>
                        </svg>
                    </a>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active w-100" style="background-position:center;background-repeat: no-repeat; background-image: url('{{ asset('frontend/assets/img/banner_front.jpg') }}'); height: 400px; width:100%">
                        <div style="background-size:cover;background-position:center;background-repeat: no-repeat; background-image: url('{{ asset('frontend/assets/img/banner_front.jpg') }}'); height: 400px; width:100%">
                        </div>
                    </div>
                    <div class="carousel-item w-100" style="background-position:center;background-repeat: no-repeat; background-image: url('{{ asset('frontend/assets/img/banner_back.jpg') }}'); height: 400px; width:100%">
                        <div style="background-size:cover;background-position:center;background-repeat: no-repeat; background-image: url('{{ asset('frontend/assets/img/banner_back.jpg') }}'); height: 400px; width:100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-3 justify-content-center m-auto">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="card box">
                    <div class="card-body">
                        <a href="#why_macaron" class="text-decoration-none text-success text-center">
                            <div class="d-block d-flex justify-content-center align-items-center m-auto">
                                <img src="{{ asset('frontend/assets/img/question_mark.png') }}" width="60" height="60">
                            </div>
                            <div class="px-2">
                                <span class="fw-bolder">POURQUOI LE MACARON ?</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="card box">
                    <div class="card-body">
                        <a href="{{ path('auth') }}" class="text-decoration-none text-success text-center">
                            <div class="d-block d-flex justify-content-center align-items-center m-auto">
                                <img src="{{ asset('frontend/assets/img/macaron_thumbnail.jpg') }}" width="60" height="60">
                            </div>
                            <div class="px-2"><span class="fw-bolder">OBTENIR SON MACARON</span></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container bg-gradient bg-body-tertiary mt-4" id="aboutus">
        <div class="row">
            <div class="col-md-5 py-1">
                <img src="{{ asset('frontend/assets/img/uber-driver.jpg') }}"  width="100%" alt="">
            </div>
    {#        <div class="separator_a"></div>#}
            <div class="col-md-5 bg-gradient py-1">
                <div class="bg-gradient d-flex justify-content-center">
                    <div><h1>Qui sommes-nous ?</h1></p>
                    <p>Depuis près de 15 ans, nous accompagnons tous nos clients dans le développement de logiciels spécifiques à leur activité et à leur organisation.
                        Force de propositions et riches d’une maîtrise des sujets du monde de l’entreprise, nous concevons des logiciels sur mesure qui répondent avec précision aux spécificités et exigences de tous nos clients.
                        Notre savoir faire est reconnu dans la réalisation de logiciels ergonomiques et performants mais aussi dans l’analyse fonctionnelle et l’acompagnement au changement.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4" id="why_macaron">
        <div class="col-12">
            <div style="width:500px;font-weight:bolder; font-size: 0.6em; border-bottom:5px solid #0f735d; padding: 5px 5px 5px 5px;"><h2>Pourquoi le macron ?</h2></div>
            <div style="border-radius:5px;margin-top: 10px; background-color: #e7e7e7; border-left: 2px solid #ff7b00;">
                <div class="px-3 py-3">
                    Vu le décret N° 2021-860 du 15 Décembre 2021 portant réglementation des transports publics particuliers de personnes.
                    Toute entreprise de VTC est tenue d’afficher sur les véhicules automobiles qu’elle utilise une signalétique laissant apparaitre de manière évidente la mention Voiture de Transport avec Chauffeur (VTC), délivrée par les services compétents du ministère en charge du transport routier.
                    Chaque véhicule doit obligatoirement afficher une signalétique distinctive (MACARON) “Voiture de Transport avec Chauffeur“ VTC délivrée par la direction des Transports et de la Mobilité Urbaine du district Autonome d’Abidjan.
                    Les véhicules VTC doivent comporter deux macarons permettant aux forces de l’ordre et aux usagers de distinguer rapidement un véhicule VTC d’un autre type de véhicules.
                    Les macarons affichent le sigle VTC, le logo du district d'abidjan et un Q.R code.
                    Ce Q.R code regroupant un certain nombre d’informations, en cas de contrôle, pourra être scanné par les forces de l’ordre, la police municipale, la police spécialisée dans les transports terrestres ou la police du District d’Abidjan.
                    Cette méthode leur permettra de savoir rapidement si vous exercez en toute légalité.
                    Comment positionner les macarons sur les pare-brises ?
                    •	Sur la pare-brise avant, un macaron doit être apposé dans l’angle en bas à gauche du conducteur.
                    •	Sur la pare-brise arrière, un macaron doit être apposé dans l’angle en bas à droite côté passager, donc à l’opposé du conducteur.
                    NB : La direction des Transports Terrestres et de la Mobilité Urbaines du District Autonome d’Abidjan, précise bien que ces macarons <<doivent être collés de manière à être lisibles depuis l’extérieur de votre véhicule>>.
                </div>

            </div>
        </div>
    </div>
        {% block footer %}
            {{ include('frontend/_partials/footer.html.twig') }}
        {% endblock %}
    <script src="{{ asset('frontend/libs/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('frontend/libs/inputmask/dist/jquery.inputmask.js') }}"></script>
    <script src="{{ asset('frontend/libs/inputmask/dist/bindings/inputmask.binding.js') }}"></script>
    <script src="{{ asset('frontend/libs/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('frontend/libs/owl/owl.carousel.min.js') }}"></script>
    </div>
{% endblock %}

