{% extends 'admin/base.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <script src="{{ asset('backend/js/pages/dashboard-blog.init.js') }}"></script>
{% endblock %}


{% block body %}
    <!-- <body data-layout="horizontal" data-topbar="dark"> -->

    <!-- Begin page -->
    <div id="layout-wrapper">


        {{ include('admin/_partials/header.html.twig') }}

        <!-- ========== Left Sidebar Start ========== -->
        {{ include('admin/_partials/left-sidebar.html.twig')}}
        <!-- Left Sidebar End -->


        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0 font-size-18"></h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">

                        <div class="col-xl-8">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="card mini-stats-wid">
                                        <div class="card-body">

                                            <div class="d-flex flex-wrap">
                                                <div class="me-3">
                                                    <p class="text-muted mb-2">Total membres</p>
                                                    <h5 class="mb-0"></h5>
                                                </div>

                                                <div class="avatar-sm ms-auto">
                                                    <div class="avatar-title bg-light rounded-circle text-primary font-size-20">
                                                        <i class="bx bxs-book-bookmark"></i>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="card blog-stats-wid">
                                        <div class="card-body">

                                            <div class="d-flex flex-wrap">
                                                <div class="me-3">
                                                    <p class="text-muted mb-2">VTC</p>
                                                    <h5 class="mb-0">10</h5>
                                                </div>

                                                <div class="avatar-sm ms-auto">
                                                    <div class="avatar-title bg-light rounded-circle text-primary font-size-20">
                                                        <i class="bx bxs-note"></i>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card blog-stats-wid">
                                        <div class="card-body">
                                            <div class="d-flex flex-wrap">
                                                <div class="me-3">
                                                    <p class="text-muted mb-2">Plaintes</p>
                                                    <h5 class="mb-0">40</h5>
                                                </div>

                                                <div class="avatar-sm ms-auto">
                                                    <div class="avatar-title bg-light rounded-circle text-primary font-size-20">
                                                        <i class="bx bxs-message-square-dots"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end row -->

                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex flex-wrap align-items-start">
                                        <h5 class="card-title me-2">Adhésions</h5>
                                        <div class="ms-auto">
                                            <div class="toolbar d-flex flex-wrap gap-2 text-end">
                                                <button type="button" class="btn btn-light btn-sm">
                                                    Toutes
                                                </button>
                                                <button type="button" class="btn btn-light btn-sm">
                                                    1M
                                                </button>
                                                <button type="button" class="btn btn-light btn-sm">
                                                    6M
                                                </button>
                                                <button type="button" class="btn btn-light btn-sm active">
                                                    1Y
                                                </button>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-center">
                                        <div class="col-lg-4">
                                            <div class="mt-4">
                                                <p class="text-muted mb-1">Today</p>
                                                <h5>1024</h5>
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="mt-4">
                                                <p class="text-muted mb-1">Ce mois</p>
                                                <h5>12356 <span class="text-success font-size-13">0.2 % <i class="mdi mdi-arrow-up ms-1"></i></span></h5>
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="mt-4">
                                                <p class="text-muted mb-1">Cette année</p>
                                                <h5>102354 <span class="text-success font-size-13">0.1 % <i class="mdi mdi-arrow-up ms-1"></i></span></h5>
                                            </div>
                                        </div>
                                    </div>

                                    <hr class="mb-4">

                                    <div class="apex-charts" data-colors='["--bs-primary", "--bs-warning"]' id="area-chart" dir="ltr"></div>
                                </div>
                            </div>
                        </div>
                        <!-- end col -->

                        <div class="col-xl-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0 me-3">
                                            <img src="{{ asset('assets/images/avatar/avatar.jpg') }}" alt="" class="avatar-sm rounded-circle img-thumbnail">
                                        </div>
                                        <div class="flex-grow-1">
                                            <div class="d-flex">
                                                <div class="flex-grow-1">
                                                    <div class="text-muted">
                                                        <h5 class="mb-1"></h5>
                                                        <p class="mb-0"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex flex-wrap align-items-start">
                                        <h5 class="card-title mb-3 me-2">Souscription</h5>

                                        <div class="dropdown ms-auto">
                                            <a class="text-muted font-size-16" role="button" data-bs-toggle="dropdown" aria-haspopup="true">
                                                <i class="mdi mdi-dots-horizontal"></i>
                                            </a>

                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="#">A</a>
                                                <a class="dropdown-item" href="#">B</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-wrap">
                                        <div>
                                            <p class="text-muted mb-1">Total Souscription</p>
                                            <h4 class="mb-3"></h4>
                                            <p class="text-success mb-0"><span>0.6 % <i class="mdi mdi-arrow-top-right ms-1"></i></span></p>
                                        </div>
                                        <div class="ms-auto align-self-end">
                                            <i class="bx bx-group display-4 text-light"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->

                    <div class="row">
                        <div class="col-xl-4 col-lg-6">
                            <div class="card">
                                <div class="card-header bg-transparent border-bottom">
                                    <div class="d-flex flex-wrap align-items-start">
                                        <div class="me-2">
                                            <h5 class="card-title mt-1 mb-0">VTC</h5>
                                        </div>
                                        <ul class="nav nav-tabs nav-tabs-custom card-header-tabs ms-auto" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" data-bs-toggle="tab" href="#post-recent" role="tab">
                                                    Récent
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-bs-toggle="tab" href="#post-popular" role="tab">
                                                    Populaire
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                                <div class="card-body">

                                    <div data-simplebar style="max-height: 295px;">
                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="post-recent" role="tabpanel">
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item py-3">
                                                        <div class="d-flex">
                                                            <div class="me-3">
                                                                <img src="assets/images/small/img-2.jpg" alt="" class="avatar-md h-auto d-block rounded">
                                                            </div>

                                                            <div class="align-self-center overflow-hidden me-auto">
                                                                <div>
                                                                    <h5 class="font-size-14 text-truncate"><a href="javascript: void(0);" class="text-dark">Lorem Ipsum is simply dummy text</a></h5>
                                                                    <p class="text-muted mb-0">10 Nov, 2020</p>
                                                                </div>
                                                            </div>

                                                            <div class="dropdown ms-2">
                                                                <a class="text-muted font-size-14" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <i class="mdi mdi-dots-horizontal"></i>
                                                                </a>

                                                                <div class="dropdown-menu dropdown-menu-end">
                                                                    <a class="dropdown-item" href="#">A</a>
                                                                    <a class="dropdown-item" href="#">B</a>
                                                                    <a class="dropdown-item" href="#">C</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>

                                                    <li class="list-group-item py-3">
                                                        <div class="d-flex">
                                                            <div class="me-3">
                                                                <img src="assets/images/small/img-6.jpg" alt="" class="avatar-md h-auto d-block rounded">
                                                            </div>
                                                            <div class="align-self-center overflow-hidden me-auto">
                                                                <div>
                                                                    <h5 class="font-size-14 text-truncate"><a href="javascript: void(0);" class="text-dark">Lorem Ipsum is simply dummy text</a></h5>
                                                                    <p class="text-muted mb-0">02 Nov, 2020</p>
                                                                </div>
                                                            </div>

                                                            <div class="dropdown ms-2">
                                                                <a class="text-muted font-size-14" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <i class="mdi mdi-dots-horizontal"></i>
                                                                </a>

                                                                <div class="dropdown-menu dropdown-menu-end">
                                                                    <a class="dropdown-item" href="#">A</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>

                                                    <li class="list-group-item py-3">
                                                        <div class="d-flex">
                                                            <div class="me-3">
                                                                <img src="assets/images/small/img-2.jpg" alt="" class="avatar-md h-auto d-block rounded">
                                                            </div>

                                                            <div class="align-self-center overflow-hidden me-auto">
                                                                <div>
                                                                    <h5 class="font-size-14 text-truncate"><a href="javascript: void(0);" class="text-dark">Lorem Ipsum is simply dummy text</a></h5>
                                                                    <p class="text-muted mb-0">24 Oct, 2020</p>
                                                                </div>
                                                            </div>

                                                            <div class="dropdown ms-2">
                                                                <a class="text-muted font-size-14" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <i class="mdi mdi-dots-horizontal"></i>
                                                                </a>

                                                                <div class="dropdown-menu dropdown-menu-end">
                                                                    <a class="dropdown-item" href="#">A</a>
                                                                    <a class="dropdown-item" href="#">B</a>
                                                                    <a class="dropdown-item" href="#">C</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>

                                                    <li class="list-group-item py-3">
                                                        <div class="d-flex">
                                                            <div class="me-3">
                                                                <img src="assets/images/small/img-1.jpg" alt="" class="avatar-md h-auto d-block rounded">
                                                            </div>

                                                            <div class="align-self-center overflow-hidden me-auto">
                                                                <div>
                                                                    <h5 class="font-size-14 text-truncate"><a href="javascript: void(0);" class="text-dark">Lorem Ipsum is simply dummy text</a></h5>
                                                                    <p class="text-muted mb-0">20 Oct, 2020</p>
                                                                </div>
                                                            </div>

                                                            <div class="dropdown ms-2">
                                                                <a class="text-muted font-size-14" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <i class="mdi mdi-dots-horizontal"></i>
                                                                </a>

                                                                <div class="dropdown-menu dropdown-menu-end">
                                                                    <a class="dropdown-item" href="#">A</a>
                                                                    <a class="dropdown-item" href="#">B</a>
                                                                    <a class="dropdown-item" href="#">C</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- end tab pane -->

                                            <div class="tab-pane" id="post-popular" role="tabpanel">

                                                <ul class="list-group list-group-flush">

                                                    <li class="list-group-item py-3">
                                                        <div class="d-flex">
                                                            <div class="me-3">
                                                                <img src="assets/images/small/img-6.jpg" alt="" class="avatar-md h-auto d-block rounded">
                                                            </div>

                                                            <div class="align-self-center overflow-hidden me-auto">
                                                                <div>
                                                                    <h5 class="font-size-14 text-truncate"><a href="javascript: void(0);" class="text-dark">Lorem Ipsum is simply dummy text</a></h5>
                                                                    <p class="text-muted mb-0">02 Nov, 2020</p>
                                                                </div>
                                                            </div>

                                                            <div class="dropdown ms-2">
                                                                <a class="text-muted font-size-14" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <i class="mdi mdi-dots-horizontal"></i>
                                                                </a>

                                                                <div class="dropdown-menu dropdown-menu-end">
                                                                    <a class="dropdown-item" href="#">A</a>
                                                                    <a class="dropdown-item" href="#">B</a>
                                                                    <a class="dropdown-item" href="#">C</a>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </li>

                                                </ul>
                                            </div>
                                            <!-- end tab pane -->
                                        </div>
                                        <!-- end tab content -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end col -->

                        <div class="col-xl-4 col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex flex-wrap align-items-start">
                                        <div class="me-2">
                                            <h5 class="card-title mb-3">Visiteurs</h5>
                                        </div>
                                        <div class="dropdown ms-auto">
                                            <a class="text-muted font-size-16" role="button" data-bs-toggle="dropdown" aria-haspopup="true">
                                                <i class="mdi mdi-dots-horizontal"></i>
                                            </a>

                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="#">A</a>
                                                <a class="dropdown-item" href="#">B</a>
                                                <a class="dropdown-item" href="#">C</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">D</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div data-simplebar style="max-height: 310px;">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item py-3">
                                                <div class="d-flex">
                                                    <div class="flex-shrink-0 me-3">
                                                        <div class="avatar-xs">
                                                            <div class="avatar-title rounded-circle bg-light text-primary">
                                                                <i class="bx bxs-user"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1">
                                                        <h5 class="font-size-14 mb-1">Lorem Ipsum <small class="text-muted float-end">il y'a 1h</small></h5>
                                                        <p class="text-muted">dummy text of the printing and typesetting</p>
                                                        <div>
                                                            <a href="javascript: void(0);" class="text-success"><i class="mdi mdi-reply me-1"></i> Reply</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="list-group-item py-3">
                                                <div class="d-flex">
                                                    <div class="flex-shrink-0 me-3">
                                                        <div class="avatar-xs">
                                                            <img src="assets/images/users/avatar-2.jpg" alt="" class="img-fluid d-block rounded-circle">
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1">
                                                        <h5 class="font-size-14 mb-1">Lorem Ipsum <small class="text-muted float-end">il y'a 3h</small></h5>
                                                        <p class="text-muted">dummy text of the printing and typesetting</p>
                                                        <div>
                                                            <a href="javascript: void(0);" class="text-success"><i class="mdi mdi-reply"></i> Reply</a>
                                                        </div>

                                                        <div class="d-flex pt-3">
                                                            <div class="flex-shrink-0 me-3">
                                                                <div class="avatar-xs">
                                                                    <div class="avatar-title rounded-circle bg-light text-primary">
                                                                        <i class="bx bxs-user"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="flex-grow-1">
                                                                <h5 class="font-size-14 mb-1">Lorem Ipsum <small class="text-muted float-end">il y'a 3h</small></h5>
                                                                <p class="text-muted">dummy text of the printing and typesetting</p>
                                                                <div>
                                                                    <a href="javascript: void(0);" class="text-success"><i class="mdi mdi-reply"></i> Reply</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="list-group-item py-3">
                                                <div class="d-flex">
                                                    <div class="flex-shrink-0 me-3">
                                                        <div class="avatar-xs">
                                                            <div class="avatar-title rounded-circle bg-light text-primary">
                                                                <i class="bx bxs-user"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1">
                                                        <h5 class="font-size-14 mb-1">Koffi Mathieu <small class="text-muted float-end">12 Aug</small></h5>
                                                        <p class="text-muted">Lorem Ipsum is simply dummy text </p>
                                                        <div>
                                                            <a href="javascript: void(0);" class="text-success"><i class="mdi mdi-reply"></i> Repondre</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>


                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end col -->

                        <div class="col-xl-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex flex-wrap align-items-start">
                                        <div class="me-2">
                                            <h5 class="card-title mb-3">Lorem Ipsum is simply dummy text </h5>
                                        </div>
                                        <div class="dropdown ms-auto">
                                            <a class="text-muted font-size-16" role="button" data-bs-toggle="dropdown" aria-haspopup="true">
                                                <i class="mdi mdi-dots-horizontal"></i>
                                            </a>

                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="#">A</a>
                                                <a class="dropdown-item" href="#">B</a>
                                                <a class="dropdown-item" href="#">C</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">D</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row text-center">
                                        <div class="col-6">
                                            <div class="mt-3">
                                                <p class="text-muted mb-1">Aujourd'hui</p>
                                                <h5>1024</h5>
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            <div class="mt-3">
                                                <p class="text-muted mb-1">This Month</p>
                                                <h5>12356 <span class="text-success font-size-13">0.2 % <i class="mdi mdi-arrow-up ms-1"></i></span></h5>
                                            </div>
                                        </div>
                                    </div>

                                    <hr>

                                    <div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <div class="py-2">
                                                    <h5 class="font-size-14">Abidjan <span class="float-end">78%</span></h5>
                                                    <div class="progress animated-progess progress-sm">
                                                        <div class="progress-bar" role="progressbar" style="width: 78%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="py-2">
                                                    <h5 class="font-size-14">Bouaké <span class="float-end">69%</span></h5>
                                                    <div class="progress animated-progess progress-sm">
                                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 69%" aria-valuenow="69" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="py-2">
                                                    <h5 class="font-size-14">Yamoussoukro <span class="float-end">61%</span></h5>
                                                    <div class="progress animated-progess progress-sm">
                                                        <div class="progress-bar bg-success" role="progressbar" style="width: 61%" aria-valuenow="61" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </li>

                                        </ul>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->


                    <div class="row">
                        <div class="col-xl-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex align-items-start">
                                        <div class="me-2">
                                            <h5 class="card-title mb-4">Activités</h5>
                                        </div>
                                        <div class="dropdown ms-auto">
                                            <a class="text-muted font-size-16" role="button" data-bs-toggle="dropdown" aria-haspopup="true">
                                                <i class="mdi mdi-dots-horizontal"></i>
                                            </a>

                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="#">A</a>
                                                <a class="dropdown-item" href="#">B</a>
                                                <a class="dropdown-item" href="#">C</a>
                                                <div class="dropdown-divider"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-simplebar class="mt-2" style="max-height: 280px;">
                                        <ul class="verti-timeline list-unstyled">
                                            <li class="event-list active">
                                                <div class="event-timeline-dot">
                                                    <i class="bx bxs-right-arrow-circle font-size-18 bx-fade-right"></i>
                                                </div>
                                                <div class="d-flex">
                                                    <div class="flex-shrink-0 me-3">
                                                        <h5 class="font-size-14">10 Nov <i class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"></i></h5>
                                                    </div>
                                                    <div class="flex-grow-1">
                                                        <div>
                                                            Posted <span class="fw-semibold">Lorem Ipsum is simply dummy text </span> blog... <a href="javascript: void(0);">Lire</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="event-list">
                                                <div class="event-timeline-dot">
                                                    <i class="bx bx-right-arrow-circle font-size-18"></i>
                                                </div>
                                                <div class="d-flex">
                                                    <div class="flex-shrink-0 me-3">
                                                        <h5 class="font-size-14">08 Nov <i class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"></i></h5>
                                                    </div>
                                                    <div class="flex-grow-1">
                                                        <div>
                                                            Lorem Ipsum is simply dummy text ... <a href="javascript: void(0);">Lire</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="event-list">
                                                <div class="event-timeline-dot">
                                                    <i class="bx bx-right-arrow-circle font-size-18"></i>
                                                </div>
                                                <div class="d-flex">
                                                    <div class="flex-shrink-0 me-3">
                                                        <h5 class="font-size-14">02 Nov <i class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"></i></h5>
                                                    </div>
                                                    <div class="flex-grow-1">
                                                        <div>
                                                            Create <span class="fw-semibold">Lorem Ipsum </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="event-list">
                                                <div class="event-timeline-dot">
                                                    <i class="bx bx-right-arrow-circle font-size-18"></i>
                                                </div>
                                                <div class="d-flex">
                                                    <div class="flex-shrink-0 me-3">
                                                        <h5 class="font-size-14">24 Oct <i class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"></i></h5>
                                                    </div>
                                                    <div class="flex-grow-1">
                                                        <div>
                                                            Lorem Ipsum is simply dummy text
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="event-list">
                                                <div class="event-timeline-dot">
                                                    <i class="bx bx-right-arrow-circle font-size-18"></i>
                                                </div>
                                                <div class="d-flex">
                                                    <div class="flex-shrink-0 me-3">
                                                        <h5 class="font-size-14">21 Oct <i class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"></i></h5>
                                                    </div>
                                                    <div class="flex-grow-1">
                                                        <div>
                                                            Lorem Ipsum is simply dummy text
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="text-center mt-4"><a href="javascript: void(0);" class="btn btn-primary waves-effect waves-light btn-sm">View More <i class="mdi mdi-arrow-right ms-1"></i></a></div>
                                </div>
                            </div>
                            <!-- end card -->
                        </div>
                        <!-- end col -->
                        <div class="col-xl-8">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex align-items-start">
                                        <div class="me-2">
                                            <h5 class="card-title mb-4">Lorem Ipsum</h5>
                                        </div>
                                        <div class="dropdown ms-auto">
                                            <a class="text-muted font-size-16" role="button" data-bs-toggle="dropdown" aria-haspopup="true">
                                                <i class="mdi mdi-dots-horizontal"></i>
                                            </a>

                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="#">A</a>
                                                <a class="dropdown-item" href="#">B</a>
                                                <a class="dropdown-item" href="#">C</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">D</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="table-responsive">
                                        <table class="table align-middle table-nowrap mb-0">
                                            <tr>
                                                <th scope="col" colspan="2">Post</th>
                                                <th scope="col">Lorem</th>
                                                <th scope="col">Lorem</th>
                                                <th scope="col">Lorem</th>
                                            </tr>
                                            <tbody>
                                            <tr>
                                                <td style="width: 100px;"><img src="assets/images/small/img-2.jpg" alt="" class="avatar-md h-auto d-block rounded"></td>
                                                <td>
                                                    <h5 class="font-size-13 text-truncate mb-1"><a href="javascript: void(0);" class="text-dark">Lorem Ipsum is simply dummy text </a></h5>
                                                    <p class="text-muted mb-0">10 Nov, 2020</p>
                                                </td>
                                                <td><i class="bx bx-like align-middle me-1"></i> 125</td>
                                                <td><i class="bx bx-comment-dots align-middle me-1"></i> 68</td>
                                                <td>
                                                    <div class="dropdown">
                                                        <a class="text-muted font-size-16" role="button" data-bs-toggle="dropdown" aria-haspopup="true">
                                                            <i class="mdi mdi-dots-horizontal"></i>
                                                        </a>

                                                        <div class="dropdown-menu dropdown-menu-end">
                                                            <a class="dropdown-item" href="#">A</a>
                                                            <a class="dropdown-item" href="#">B</a>
                                                            <a class="dropdown-item" href="#">C</a>
                                                            <div class="dropdown-divider"></div>
                                                            <a class="dropdown-item" href="#">D</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td><img src="assets/images/small/img-6.jpg" alt="" class="avatar-md h-auto d-block rounded"></td>
                                                <td>
                                                    <h5 class="font-size-13 text-truncate mb-1"><a href="javascript: void(0);" class="text-dark">Lorem Ipsum is simply dummy text </a></h5>
                                                    <p class="text-muted mb-0">02 Nov, 2020</p>
                                                </td>
                                                <td><i class="bx bx-like align-middle me-1"></i> 102</td>
                                                <td><i class="bx bx-comment-dots align-middle me-1"></i> 48</td>
                                                <td>
                                                    <div class="dropdown">
                                                        <a class="text-muted font-size-16" role="button" data-bs-toggle="dropdown" aria-haspopup="true">
                                                            <i class="mdi mdi-dots-horizontal"></i>
                                                        </a>

                                                        <div class="dropdown-menu dropdown-menu-end">
                                                            <a class="dropdown-item" href="#">A</a>
                                                            <a class="dropdown-item" href="#">B</a>
                                                            <a class="dropdown-item" href="#">C</a>
                                                            <div class="dropdown-divider"></div>
                                                            <a class="dropdown-item" href="#">D</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td><img src="assets/images/small/img-1.jpg" alt="" class="avatar-md h-auto d-block rounded"></td>
                                                <td>
                                                    <h5 class="font-size-13 text-truncate mb-1"><a href="javascript: void(0);" class="text-dark">Lorem Ipsum is simply dummy text</a></h5>
                                                    <p class="text-muted mb-0">24 Oct, 2020</p>
                                                </td>
                                                <td><i class="bx bx-like align-middle me-1"></i> 98</td>
                                                <td><i class="bx bx-comment-dots align-middle me-1"></i> 35</td>
                                                <td>
                                                    <div class="dropdown">
                                                        <a class="text-muted font-size-16" role="button" data-bs-toggle="dropdown" aria-haspopup="true">
                                                            <i class="mdi mdi-dots-horizontal"></i>
                                                        </a>

                                                        <div class="dropdown-menu dropdown-menu-end">
                                                            <a class="dropdown-item" href="#">A</a>
                                                            <a class="dropdown-item" href="#">B</a>
                                                            <a class="dropdown-item" href="#">C</a>
                                                            <div class="dropdown-divider"></div>
                                                            <a class="dropdown-item" href="#">D</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td><img src="assets/images/small/img-2.jpg" alt="" class="avatar-md h-auto d-block rounded"></td>
                                                <td>
                                                    <h5 class="font-size-13 text-truncate mb-1"><a href="javascript: void(0);" class="text-dark">Lorem Ipsum is simply dummy text </a></h5>
                                                    <p class="text-muted mb-0">15 Oct, 2020</p>
                                                </td>
                                                <td><i class="bx bx-like align-middle me-1"></i> 92</td>
                                                <td><i class="bx bx-comment-dots align-middle me-1"></i> 22</td>
                                                <td>
                                                    <div class="dropdown">
                                                        <a class="text-muted font-size-16" role="button" data-bs-toggle="dropdown" aria-haspopup="true">
                                                            <i class="mdi mdi-dots-horizontal"></i>
                                                        </a>

                                                        <div class="dropdown-menu dropdown-menu-end">
                                                            <a class="dropdown-item" href="#">A</a>
                                                            <a class="dropdown-item" href="#">B</a>
                                                            <a class="dropdown-item" href="#">C</a>
                                                            <div class="dropdown-divider"></div>
                                                            <a class="dropdown-item" href="#">D</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>


                                    </div>
                                </div>
                            </div>
                            <!-- end card -->
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->

                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    <!-- Right Sidebar -->

    <!-- /Right-bar -->

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

{% endblock %}

{% block javascript %}
    {{ parent() }}

<!-- apexcharts -->
<script src="{{ asset('backend/libs/apexcharts/apexcharts.min.js') }}"></script>

<!-- dashboard init -->
<script src="{{ asset('backend/js/pages/dashboard.init.js') }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
        });
    </script>
{% endblock %}
