{% extends 'admin/base.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <script src="{{ asset('backend/js/pages/dashboard-blog.init.js') }}"></script>
{% endblock %}


{% block body %}

    <!-- Begin page -->
    <div id="layout-wrapper">


        {{ include('admin/_partials/header.html.twig') }}

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

{% endblock %}

{% block javascript %}
    {{ parent() }}

<!-- apexcharts -->
<script src="{{ asset('backend/libs/apexcharts/apexcharts.min.js') }}"></script>

<!-- dashboard init -->
<script src="{{ asset('backend/js/pages/dashboard.init.js') }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
        });
    </script>
{% endblock %}
