<html xmlns="http://www.w3.org/1999/xhtml" class="login-pf" webcrx=""><head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11">
    <meta name="robots" content="noindex, nofollow">
    <!-- On affiche le nom de la marque et c'est tout dans le tab name-->
    <title>TranSecure</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link  href="{{ asset('frontend/login/style.css') }}" rel="stylesheet" type="text/css">
</head>

<body class="theme-groupama container-fluid">
<header data-v-3c1a4c02="" data-v-4aecbe36="" class="header" data-v-a70adea0="">
    <div data-v-3c1a4c02="" class="header__container header__container--cta">
        <a href="{{ path("home") }}" data-v-3c1a4c02="">
            <img src="{{ asset('/frontend/images/logo_district.png') }}" alt="amoirie" height="100"/>
        </a>
        <div data-v-3c1a4c02="" class="header__cta">
            <button data-v-997e1eb0="" data-v-4aecbe36="" type="button" class="g-button secondary" data-v-3c1a4c02="">
                Besoin d'aide ?
            </button>
        </div>
    </div>
</header>
<div class="mx-auto">
    <div class="wrapper">
        <div id="kc-form">
            <div id="kc-form-wrapper" class="at-element-marker">
                    <div id="step1" class="form-step">

                        <form action="{{ path("otp") }}" method="post">
                            <div class="form-group">
                                <label for="numerotelInput">Entrez votre numéro de téléphone mobile.</label>
                                <input tabindex="1" id="numerotelInput" name="numerotelInput"  type="text" autocomplete="off" autofocus="" maxlength="10" style="text-align:center;border: 2px solid #007bff;border-radius: 10px;padding: 5px 5px;width: 100%;font-size:2.9em;font-width:bolder;">
                            </div>
                            <div id="kc-form-buttons" class="form-group">
                                <div class="">
                                    <input tabindex="4" type="submit" class="gpm-btn  col-12 w-100"  name="generateCodeBtn" id="generateCodeBtn" value="Suivant" disabled="">
                                </div>
                            </div>
                        </form>
                        <br><br>
                        <div class="form-group">
                            <div class="">
                                <a class="gpm-link " href="{{ path('home') }}" tabindex="6" id="connectionHelp" target="_blank">
                                    Aide à la connexion
                                </a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

    </div>
</div>
<footer class="w-100">
    <div class="footer-wrapper mx-auto row">
        <a class="gpm-link col-6 text-center"  href="#">Gérer mes cookies</a>
        <a class="gpm-link col-6 text-center" href="#" target="_blank">Mentions légales</a>
    </div>
</footer>
<script>

    const numerotelInput = document.getElementById("numerotelInput");
    const generateCodeBtn = document.getElementById("generateCodeBtn");

    numerotelInput.addEventListener("keyup", handleNumerotelInput);

    function handleNumerotelInput(e) {
        const input = e.target;
        if (input.value.length === 10) {
            generateCodeBtn.disabled = false;
        }else{
            generateCodeBtn.disabled = true;
        }
    }

</script>
</body>
</html>
