<html xmlns="http://www.w3.org/1999/xhtml" class="login-pf" webcrx=""><head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11">
    <meta name="robots" content="noindex, nofollow">
    <!-- On affiche le nom de la marque et c'est tout dans le tab name-->
    <title>TranSecure</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link  href="{{ asset('frontend/login/style.css') }}" rel="stylesheet" type="text/css">
    <style>
        .otp-field {
            display: flex;
        }
        .otp-field input {
            width: 50px;
            height: 50px;
            font-size: 32px;
            padding: 10px;
            text-align: center;
            border-radius: 5px;
            margin: 2px;
            border: 2px solid #08eb2e;
            background: #f8f8f8;
            font-weight: bold;
            color: #000000;
            outline: none;
            transition: all 0.1s;
        }
        .otp-field input:focus {
            border: 2px solid #ff914a;
            box-shadow: 0 0 2px 2px rgb(255, 145, 74);
        }
        .disabled {
            opacity: 0.5;
        }
        .space {
            margin-right: 1rem !important;
        }
    </style>
</head>

<body class="theme-groupama container-fluid">
<div id="site-link" class="mt-3">
    <a class="gpm-link" href="{{ path('home') }}">
        Revenir à l'acceuil du site
    </a>
</div>
<div class="mx-auto">
    <div class="wrapper">
        <div style="box-shadow: 0 2px 10px 0 rgba(0,0,0,.05); margin-bottom:50px;">
            <img src="{{ asset('/frontend/images/logo_district.png') }}" alt="amoirie" height="100"  style="padding:10px 10px"/>
        </div>
        <div id="kc-form">
            <div id="kc-form-wrapper" class="at-element-marker">
                    <div id="step1" class="form-step">
                        <div style="padding: 2px 10px;">
                            <h4 style="text-justify:auto"> Veuillez saisir le code à 6 chiffres reçu par SMS</h4>
                        </div>
                        {% if error is defined %}
                            <div style="align-items: center;background-color:#f3e1e1;;background-position: 100% 100%;background-repeat: no-repeat;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;box-sizing: border-box;color: #000000;display: flex;flex-wrap: wrap;padding: 15px 42px;text-align: center;">
                                <div>
                                    {{ error }}
                                </div> <!---->
                            </div>
                        {% endif %}
                        <form  action="{{ path('check_otp') }}" method="post">
                            <div style="margin-top:20px;display: flex; justify-content: center">
                                <div class="otp-field">
                                    <input type="text" maxlength="1" tabindex="1" value="{{ otp ? otp.Code|slice(0, 1) : '' }}" name="tt[]"/>
                                    <input type="text" maxlength="1" tabindex="2" value="{{ otp ? otp.Code|slice(1, 1) : '' }}" name="tt[]"/>
                                    <input class="space" type="text" maxlength="1" tabindex="3" value="{{ otp ? otp.Code|slice(2, 1) : '' }}" name="tt[]"/>
                                    <input type="text" maxlength="1" tabindex="4" value="{{ otp ? otp.Code|slice(3, 1) : '' }}" name="tt[]"/>
                                    <input type="text" maxlength="1" tabindex="5"  value="{{ otp ? otp.Code|slice(4, 1) : '' }}" name="tt[]"/>
                                    <input type="text" maxlength="1" tabindex="6"  value="{{ otp ? otp.Code|slice(5, 1) : '' }}" name="tt[]"/>
                                </div>
                            </div>
                            <div style="text-align: center; margin-top:30px">
                                <input type="hidden" id="otpcode" name="otpcode"/>
                                <input type="submit" tabindex="7" id="otpsubmit_btn"  class="gpm-btn col-12 w-75" value="Valider" {{ otp ? '' : 'disabled' }}>
                            </div>
                        </form>
                        <br><br>
                        <div class="form-group">
                            <div class="">
                                <a class="gpm-link " href="{{ path('home') }}" tabindex="6" id="connectionHelp" target="_blank">
                                    Aide à la connexion
                                </a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

    </div>
</div>
<footer class="w-100">
    <div class="footer-wrapper mx-auto row">
        <a class="gpm-link col-6 text-center"  href="#">Gérer mes cookies</a>
        <a class="gpm-link col-6 text-center" href="#" target="_blank">Mentions légales</a>
    </div>
</footer>
<script>
    const inputs = document.querySelectorAll(".otp-field input");
    const otpcode = document.getElementById("otpcode");
    inputs.forEach((input, index) => {
        input.dataset.index = index;
        input.addEventListener("keyup", handleOtp);
        input.addEventListener("paste", handleOnPasteOtp);
    });
    function handleOtp(e) {
        /**
         * <input type="text" 👉 maxlength="1" />
         * 👉 NOTE: On mobile devices `maxlength` property isn't supported,
         * So we write our own logic to make it work. 🙂
         */
        const input = e.target;
        let value = input.value;
        let isValidInput = value.match(/[0-9a-z]/gi);
        input.value = "";
        input.value = isValidInput ? value[0] : "";
        let fieldIndex = input.dataset.index;
        if (fieldIndex < inputs.length - 1 && isValidInput) {
            input.nextElementSibling.focus();
        }
        if (e.key === "Backspace" && fieldIndex > 0) {
            input.previousElementSibling.focus();
        }
        if (fieldIndex == inputs.length - 1 && isValidInput) {
            submit();
        }
    }
    function handleOnPasteOtp(e) {
        const data = e.clipboardData.getData("text");
        const value = data.split("");
        if (value.length === inputs.length) {
            inputs.forEach((input, index) => (input.value = value[index]));
            submit();
        }
    }
    function submit() {
        console.log("Submitting...");
        // 👇 Entered OTP
        let otp = "";
        inputs.forEach((input) => {
            otp += input.value;
            input.disabled = true;
            input.classList.add("disabled");
        });
        console.log(otp);
        otpcode.value = otp;
        document.getElementById("otpsubmit_btn").disabled = false;
    }
</script>
</body>
</html>
