{% extends 'admin/base.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
{% endblock %}


{% block body %}
    <!-- <body data-layout="horizontal" data-topbar="dark"> -->

    <!-- Begin page -->
    <div id="layout-wrapper">


        {{ include('admin/_partials/header.html.twig') }}

        <!-- ========== Left Sidebar Start ========== -->
        {{ include('admin/_partials/left-sidebar.html.twig')}}
        <!-- Left Sidebar End -->


        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Editer les informations</h4>
                                    {{ include('admin/member/_form_edit.html.twig', {'button_label': 'Mettre à jour'}) }}

                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- container-fluid -->
            </div><!-- End Page-content -->

            {{ include('admin/_partials/footer.html.twig') }}
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    <!-- Right Sidebar -->

    <!-- /Right-bar -->

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

{% endblock %}

{% block javascript %}
{{ parent() }}
  <script>
      $('document').ready(function() {
          $("#member_registration_edit_photo").change(function(data){
              var imageFile = data.target.files[0];
              var reader = new FileReader();
              reader.readAsDataURL(imageFile);

              reader.onload = function(evt){
                  $('#imagePreview').attr('src', evt.target.result);
                  $('#imagePreview').fadeIn(650);
              }
          });

                  var children = [];
          $("input[name='is_married']").change(function(){
             if($(this).val() === "0"){
                $('#partner_bock').hide();
             }else{
                  $('#partner_bock').show();
             }
          });
          $("input[name='has_child']").change(function(){
              if($(this).val() === "0"){
                  $('#child-row').hide();
              }else{
                  $('#child-row').show();
              }
          });
          $( "#step1" ).click(function() {
              //close accordion 1 and open accordion 3
              $("#collapseOne, #collapseTwo").collapse('toggle');
              $( "#documents").focus();
           });
          $( "#step2" ).click(function() {
              //close accordion 1 and open accordion 3
              $("#collapseTwo, #collapseThree").collapse('toggle');
              $( "#info_familiales").focus();
           });

          $('#newChild').click(function(){
            var row = "<div class='d-flex justify-content-between w-75'><label class='py-2'>Nom <input type='text' name='child_firstname[]' value='' class='form-control' /></label><label class='my-2'>Prénoms <input type='text' name='child_lastname[]' value='' class='form-control' /></label><label class='my-2'>Sexe <input type='text' name='child_sex[]' value='' class='form-control' /></label></div>";
            $('#children_bock').append(row);
          });

      });
  </script>
{% endblock %}


